<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{ shop.name }} &#124; {{ page_title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{{ 'base.css' | asset_url | stylesheet_tag }}	
	{{ 'grid.css' | asset_url | stylesheet_tag }}	
	{{ 'theme.css' | asset_url | stylesheet_tag }}	
	<!--[if lte IE 6]>{{ 'ie.css' | asset_url | stylesheet_tag }}<![endif]-->
			
	{{ 'jquery-1.4.3.min.js' | asset_url | script_tag }}  
	{{ 'jquery.init.js' | asset_url | script_tag }}
	
	
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}

	{{ content_for_header }}
	
</head>

<body>	
	<div id="header" class="block">
	  <div class="container">
		  <div id="logo" class="left">
			  <a href="/" title="{{ shop.name }}">{{ shop.name }}</a>
			</div>
			<div id="navigation" class="menu right alignright">
			  {% capture active_url %}
			    {% if template == "index" %}
			      /
			    {% elsif template == "collection" %}
			      /collections/{{ collection.handle }}
			    {% elsif template == "product" %}
			      {% if collection %}
			        /collections/{{ collection.handle }}
			      {% endif %}
			      /products/{{ product.handle }}
			    {% elsif template == "page" %}
			      /pages/{{ page.handle }}
			    {% elsif template == "blog" %}
			      /blogs/{{ blog.handle }}
			    {% elsif template == "cart" %}
			      /cart
			    {% elsif template == "search" %}
			      /search
			    {% endif %}
			  {% endcapture %}
			  
			  
			  <div id="items">
				  {% if linklists.main-menu.links.size > 0 %}				
				    {% for link in linklists.main-menu.links %}
					  <div id="item" 
					    {% if forloop.last %}
					      {% if cart.item_count == 0 %} class="last"
					      {% endif %}
					    {% endif %}>
					    <a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title }}</a>
					  </div>
					  {% endfor %}
					{% endif %}
					
					{% if cart.item_count > 0 %}
					<div class="triangle-left"></div>						
					<div id="item" class="cart last">					  					  		  				  
					  <a href="/cart"{% if template == "cart" %} class="active highlight"{% else %} class="highlight"{% endif %}>
					    <div class="quantity">Cart: {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}</div>
					    <div class="price">{{ cart.total_price }} {{ shop.currency }}</div>
					  </a>			  
				  </div>				  
				  {% endif %}
				</div>
			</div>			
		</div>
	</div>
	
	
	{% case template %}
	  {% when 'collection' or 'search' or 'blog' or 'article' %}
	    <div id="{{ template }}" class="{{ template }} collection block">
	  {% when 'page' or 'product' or 'cart' or 'not_found' %}
	    <div id="{{ template }}" class="{{ template }} page block">
	  {% else %}
	    <div id="{{ template }}" class="{{ template }} block">
	{% endcase %}			      
	
	{{ content_for_layout }}		    
	
	</div>
	
	
	<div id="eco" class="{{ template }} block link">
	  <div class="container">
	    <div id="icons">	    
	      <ul class="inline-list right">
	        <li><img src="{{ 'wordpress.png' | asset_url }}" alt="News" /></li>
	        <li><img src="{{ 'facebook.png' | asset_url }}" alt="Friends" /></li>
	        <li><img src="{{ 'twitter.png' | asset_url }}" alt="Buzz" /></li>
	      </ul>
	     </div>	   
	  </div>  
	</div>
	
	<div id="ecosystem" class="{{ template }} block hidden">
    <div class="container">
      <div class="left col-1">
        <div id="blog">
          <h1>News from our Blog</h1>
          <div id="articles">
            ID: {{ blog.id }}
            {% for article in blog.articles %}
	            <div id="article">
	              <h4 class="title">
	                <a href="{{ article.url }}" title="{{ article.title }}">
	                  {{ article.title }}
	                  <span class="date"> # {{ article.created_at | date: "%B %d, %Y" }}</span>
	                </a>
	              </h4>
	              <div class="excerpt">
	                {{ article.content | truncate: 200 }}
	              </div>
	            </div>
	           {% endfor %}
          </div>
          <div id="comments">
            content here ...
          </div>
        </div>
        
        <div id="facebook">
          <!--
          <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/platform" width="292" show_faces="true" stream="false" header="false"></fb:like-box>
          -->
        </div>
        
        <div id="twitter">
          {% assign twitter_id = "metamn" %}
          {% assign twitter_limit = 50 %}
        
          <script type="text/javascript">
            var counter = 0;
            var BreakException= {};
            
            try {
              jQuery.getJSON('http://twitter.com/statuses/followers.json?screen_name={{ twitter_id }}&callback=?',function(data){    
              if (data) {                
                data.forEach(function(datum) {  
                  var str = '<div id="item">';
                  str += '<a href="' + datum.url + '" title="' + datum.name + '">';
                  str += '<img class="avatar" src="' + datum.profile_image_url + '" alt="' + datum.name + '" /></a>';
                  str += '</div>';
                  jQuery('#ecosystem #twitter #items').append(str);
                  
                  counter++;
                  if(counter === {{ twitter_limit }}) throw BreakException;               
                });
              } 
              });​
            } catch(e) {
                if (e!==BreakException) throw e;
            }           
          </script>
          <div id="items">
          </div>
        </div>      
      </div>
      
      <div class="right col-2">
        <h1> Shopping info here </h1>
      </div>    
    </div>
  </div> 

		
	<div id="footer" class="block">
	  <div class="container">
	    <ul class="menu inline-list right">
	      <li><a href="/">&copy; {{ "now" | date: "%Y" }} {{ shop.name }}</a></li>
	      {% if linklists.footer.links.size > 0 %}
			    {% for link in linklists.footer.links %}
				    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
				  {% endfor %}
				{% endif %}
	    </ul>
		</div>
	</div>
			
</body>
</html>
