<div id="article" class="col col-1">
  <div id="details"> 
    <div id="title">     
      <h1>
        <a href="{{ article.url }}" title="Permanent link to {{ article.title | escape }}">{{ article.title | escape }}</a>
      </h1> 
    </div>
    
    <div id="meta">
      {% include '_blogmeta' %}
    </div>
    
    <div id="summary">    
      {{ article.content }}
    </div>
      
    {% if blog.comments_enabled? %}
    <div id="comments">
      <h2>
      {% if settings.locale == "enabled" %}
        {{ settings.locale_comments }}
      {% else %}
        Comments  
      {% endif %} 
       ({{ article.comments.size }})
      </h2>
      {% if article.comments.size > 0 %}
      <ul class="comments">
        {% for comment in article.comments %}
          <li> 
            "{{ comment.content | strip_html  }}"
            <br/>
            <div class="date">
            {% if settings.locale == "enabled" %}
              {{ settings.locale_by }}
            {% else %}
              by  
            {% endif %}              
             {{ comment.author }} 
            
            {% if settings.locale == "enabled" %}
              {{ settings.locale_on }}
            {% else %}
              on  
            {% endif %}               
              {{ comment.created_at | date: "%B %d, %Y" }}
            </div>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
        
      <!-- Comment Form -->
      {% form article %}    
        
        <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
        {% if form.posted_successfully? %}
          {% if blog.moderated? %}
            <div class="success">
              {% if settings.snippets == "enabled" %}
              {% else %}
                Successfully posted your comment.<br />
                It will have to be approved by the blog owner first before showing up.
              {% endif %}              
            </div>
          {% else %}
            <div class="success">
            {% if settings.locale == "enabled" %}
              {{ settings.locale_commentposted }}
            {% else %}
              Successfully posted your comment.  
            {% endif %} 
            </div>
          {% endif %}
        {% endif %}    
        
        
        {% if form.errors %}
          <div class="error">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commenterror }}
          {% else %}
            Not all the fields have been filled out correctly!
          {% endif %}            
          </div>
        {% endif %}
          
        <h2>
        {% if settings.locale == "enabled" %}
          {{ settings.locale_commentleave }}
        {% else %}
          Leave a comment
        {% endif %}
        </h2>
          
        <dl>
          <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentname }}
          {% else %}
            Your name
          {% endif %}
          </label></dt>
          <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="text {% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

          <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentemail }}
          {% else %}
            Your email
          {% endif %}
          </label></dt>
          <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="text {% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

          <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentcomment }}
          {% else %}
            Your comment
          {% endif %}
          </label></dt>
          <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
          
          <dt>&nbsp;</dt>
          <dd>
          {% if settings.locale == "enabled" %}
            <input class="button" type="submit" value="{{ settings.locale_commentsubmit }}" />
          {% else %}
            <input class="button" type="submit" value="Post comment" />     
          {% endif %}
          </dd>
          
          {% if blog.moderated? %}  
          <dt>&nbsp;</dt>
          <dd class="comment-meta">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentnote }}
          {% else %}
            Comments have to be approved before showing up
          {% endif %}
          </dd>      
          {% endif %}
        </dl>          
      {% endform %}
      
    </div> <!-- comments -->
    {% endif %}
  </div> <!-- details -->  
</div><!-- article -->
    
<div id="sidebar" class="col col-2">  
  <div id="aside">    
    {% include '_sidebar.blog' %}
  </div>
</div>
