{% if blog.articles.size == 0 %}

<div id="article" class="col col-1">
  {% include '_notfound' %}
</div>  

<div id="sidebar" class="col col-2">   
  <div id="navigation" class="collections block">
    {% include '_navigation.collections' %}
  </div>  
</div>


{% else %}


<div id="section" class="articles col col-1">
  <div id="details">
    {% assign tags = "" %}
    {% for tag in blog.all_tags %}
      {% if current_tags contains tag %}
        {% capture tags %}
          {{ tag }}
        {% endcapture %}
      {% endif %}
    {% endfor %}
    
    <div id="title">  
      <h1>
        <a href="{{ shop.url}}/{{ blog.url }}">
          {{ blog.title }}
          {% if tags != blank %}
            // {{ tags }}
          {% endif %}
        </a>
      </h1>  
    </div>
    
    {% paginate blog.articles by 10 %}        
      <div id="articles">
        {% for article in blog.articles %}
          <div id="article" class="blog block">
            <div id="details">  
              <div id="figcaption" class="block">
                <div id="title">  
                  <h3>
                      <a href="{{ article.url }}" title="{{ article.title }}"> {{ article.title | escape }} </a>
                  </h3>
                </div>
              </div>
              <div id="meta" class="block">
                {% include '_blogmeta' %}
              </div>
              {% if article.excerpt != blank %}
                <div id="summary" class="block text">                
                   {{ article.excerpt }}
                </div>                  
              {% endif %}
            </div>
          </div> 
        {% endfor %}
      </div> <!-- articles --->

     	{% include '_paginate' %}      	    
    {% endpaginate %}
  </div>  
</div>

<div id="sidebar" class="col col-2">  
  <div id="aside">    
    {% include '_sidebar.blog' %}
  </div>  
</div>


{% endif %}






