{% if collection.products.size == 0 %}

<div id="article" class="col col-1">
  {% include '_notfound' %}
</div>  

<div id="sidebar" class="col col-2">   
  <div id="navigation" class="collections block">
    {% include '_navigation.collections' %}
  </div>  
</div>


{% else %}


<div id="details">   
  <div id="navigation" class="collections block">
    {% unless collection.title == blank %}
      <ul class="inline-list title">
        <li>
          {{ collection.title }}
          <span class="tag-title"></span>
          // {{ collection.products_count }} 
          {% if settings.locale == "enabled" %}
            {{ settings.locale_items }}
          {% else %}
            items
          {% endif %}
        </li>
      </ul>
      <!-- Hack: getting the tag title, if any -->
      <div id="current-tags-hidden" class="hidden">
        <ul class="inline-list">
          {% for tag in collection.all_tags %}
            <li>
              {{ tag | highlight_active_tag | link_to_tag: tag }}
            </li>
          {% endfor %}
        </ul>
      </div>   
      <script type="text/javascript">
        var tag =  jQuery("#current-tags-hidden ul").children().find("span").html();
        if (tag) {
          jQuery(".tag-title").append(' // ' + tag);
        }
      </script>
      <!-- end hack -->
    {% endunless %}
    
    {% if collection.description.size > 0 %}
      <ul class="inline-list description"><li>{{ collection.description }}</li></ul>
    {% endif %}
    
    {% include '_navigation.collections' %}
    
    {% if collection.tags.size > 0 %}
      <ul class="inline-list tags">
        {% for tag in collection.tags limit : settings.coll_tags_count %}
          <li>{{ tag | highlight_active_tag | link_to_tag: tag }}</li>        
        {% endfor %}      
        
        {% for tag in collection.tags offset : settings.coll_tags_count | plus : 1 %}
          {% if forloop.first %}
            <li class="show-more link">&rarr;</li>
            <span class="hidden">          
          {% endif %}
          <li>{{ tag | highlight_active_tag | link_to_tag: tag }}</li>   
          {% if forloop.last %}
            </span>
          {% endif %}     
        {% endfor %} 
      </ul>
    {% endif %}     
  </div> <!-- navigation -->
  
  {% paginate collection.products by 9 %}
    <div id="articles" class="block">
      {% for product in collection.products %}  
        <div id="article" class="thumb c-{{ forloop.index }}">
          {% include '_article.thumb' %}
        </div> <!-- article --> 
      {% endfor %}
    </div>  
    {% include '_paginate' %}  	    
  {% endpaginate %}
</div> <!-- details -->

{% endif %}












 





	
