{% if settings.frontpage_latest != "disabled" %}	
<div id="all" class="section">  
  <div id="title" class="block">
    <h4><a href="{{ collections.latest.url }}" title="View all products in {{ collections.latest.title }}">{{ collections.latest.title }}</a>
    </h4>
  </div>
  <div id="details" class="block">        
    {% if collections.latest.products.size > 0 %}
    <div id="articles">  
      {% for product in collections.latest.products limit : settings.frontpage_latest_count %}
        <div id="latest{{ forloop.index }}" class="scroller">
          <div id="article" class="thumb">
            {% include '_article.thumb' %}
          </div> <!-- article --> 
        </div>
      {% endfor %}
    </div> <!-- articles -->    
    {% else %}
      <div class="notice">   
        {% if settings.locale == "enabled" %}
          {% assign m1 = settings.locale_fp_latest_1 %}
          {% assign m2 = settings.locale_fp_latest_2 %}
          {% assign m3 = settings.locale_fp_latest_3 %}
          {% assign m4 = settings.locale_fp_latest_4 %}
        {% else %}
          {% assign m1 = "To see here the latest products please" %}
          {% assign m2 = "create a new collection" %}
          {% assign m3 = "and name it's handle to" %}
          {% assign m4 = "then add products to it" %}
        {% endif %}      
        {{ m1 }} <a href="/admin/custom_collections/new">{{ m2 }}</a>
        {{ m3 }} <strong>latest</strong> {{ m4 }}.
      </div>
    {% endif %}
  </div> 
  <div id="navigation" class="block">  
    <ul class="inline-list">
    {% for product in collections.latest.products limit : settings.frontpage_latest_count %}
      <li {% if forloop.first %} class="active" {% endif %}><a href="#latest{{ forloop.index }}">&bull;</a></li>
    {% endfor %}
    </ul>
  </div>
</div> 
{% endif %}


{% if settings.frontpage_featured != "disabled" %}	
<div id="frontpage" class="section">  
  <div id="title" class="block">
    <h4><a href="{{ collections.frontpage.url }}" title="View all products in {{ collections.frontpage.title }}">{{ collections.frontpage.title }}</a>
    </h4>
  </div>
  <div id="details" class="block">        
    {% if collections.frontpage.products.size > 0 %}
    <div id="articles">  
      {% for product in collections.frontpage.products limit : settings.frontpage_featured_count %}
        <div id="featured{{ forloop.index }}" class="scroller">
          <div id="article" class="thumb">
            {% include '_article.thumb' %}
          </div> <!-- article --> 
        </div>
      {% endfor %}
    </div> <!-- articles -->
    {% else %}
      <div class="notice">   
        {% if settings.locale == "enabled" %}
          {% assign m1 = settings.locale_fp_latest_1 %}
          {% assign m2 = settings.locale_fp_latest_2 %}
          {% assign m3 = settings.locale_fp_latest_3 %}
          {% assign m4 = settings.locale_fp_latest_4 %}
        {% else %}
          {% assign m1 = "To see here the latest products please" %}
          {% assign m2 = "create a new collection" %}
          {% assign m3 = "and name it's handle to" %}
          {% assign m4 = "then add products to it" %}
        {% endif %}      
        {{ m1 }} <a href="/admin/custom_collections/new">{{ m2 }}</a>
        {{ m3 }} <strong>frontpage</strong> {{ m4 }}.
      </div>
    {% endif %}
  </div> 
  <div id="navigation" class="block">
    <ul class="inline-list">
    {% for product in collections.frontpage.products limit : settings.frontpage_featured_count %}
      <li {% if forloop.first %} class="active" {% endif %}><a href="#featured{{ forloop.index }}">&bull;</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}


{% if settings.frontpage_sales != "disabled" %}	
<div id="sale" class="section"> 
  <div id="title" class="block">
    <h4><a href="{{ collections.sale.url }}" title="View all products in {{ collections.sale.title }}">{{ collections.sale.title }}</a>
    </h4>
  </div> 
  <div id="details" class="block">        
    {% if collections.sale.products.size > 0 %}
    <div id="articles">  
      {% for product in collections.sale.products limit : settings.frontpage_sales_count %}
        <div id="sale{{ forloop.index }}" class="scroller">
          <div id="article" class="thumb">
            {% include '_article.thumb' %}
          </div> <!-- article --> 
        </div>
      {% endfor %}
    </div> <!-- articles -->    
    {% else %}
      <div class="notice">   
        {% if settings.locale == "enabled" %}
          {% assign m1 = settings.locale_fp_latest_1 %}
          {% assign m2 = settings.locale_fp_latest_2 %}
          {% assign m3 = settings.locale_fp_latest_3 %}
          {% assign m4 = settings.locale_fp_latest_4 %}
        {% else %}
          {% assign m1 = "To see here the latest products please" %}
          {% assign m2 = "create a new collection" %}
          {% assign m3 = "and name it's handle to" %}
          {% assign m4 = "then add products to it" %}
        {% endif %}      
        {{ m1 }} <a href="/admin/custom_collections/new">{{ m2 }}</a>
        {{ m3 }} <strong>sale</strong> {{ m4 }}.
      </div>
    {% endif %}
  </div> 
  <div id="navigation" class="block">  
    <ul class="inline-list">
    {% for product in collections.sale.products limit : settings.frontpage_sales_count %}
      <li {% if forloop.first %} class="active" {% endif %}><a href="#sale{{ forloop.index }}">&bull;</a></li>
    {% endfor %}
    </ul>
  </div>
</div> 
{% endif %}


{% if settings.frontpage_info != "disabled" %}	
<div id="info" class="section"> 
  {% if linklists.info != blank %}
    <div id="title" class="block">
      <h4>{{ linklists.info.title }}</h4>
    </div> 
    <div id="details" class="block">        
      {% if linklists.info.links != blank %}
        <div id="articles">  
          {% for link in linklists.info.links limit : settings.frontpage_info_count %}
            <div id="info{{ forloop.index }}" class="scroller">
              <div id="article" class="thumb">
                <div id="details">
                  <div id="figcaption" class="mobile">
                    <div id="title">                                  
                      <a href="{{ link.object.url }}" title="{{ link.object.title | escape }}">
                        <h3>{{ link.object.title | escape }}</h3>
                      </a> 
                    </div>
                  </div> 
                  
                  <div id="summary">                
                    {{ link.object.content | strip_html | truncatewords: 60 }}
                  </div> 
                  
                  <div id="figcaption" class="desktop">
                    <div id="title">                                  
                      <a href="{{ link.object.url }}" title="{{ link.object.title | escape }}">
                        <h3>{{ link.object.title | escape }}</h3>
                      </a> 
                    </div>
                  </div>                              
                </div> <!-- details -->
              </div> <!-- article --> 
            </div>
          {% endfor %}
        </div> <!-- articles -->
      {% else %}
        <div class="notice">   
          {% if settings.locale == "enabled" %}
            {% assign m5 = settings.locale_fp_latest_5 %}
          {% else %}
            {% assign m5 = "Please add pages like About Us, Contact Us, Shopping info etc. to the linklist named" %}
          {% endif %}      
          {{ m5 }} info.
        </div>        
      {% endif %}
    </div>
    <div id="navigation" class="block">
      <ul class="inline-list">
      {% for product in linklists.info.links limit : settings.frontpage_info_count %}
        <li {% if forloop.first %} class="active" {% endif %}><a href="#info{{ forloop.index }}">&bull;</a></li>
      {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="notice">    
      {% if settings.locale == "enabled" %}
        {% assign m6 = settings.locale_fp_latest_6 %}
        {% assign m7 = settings.locale_fp_latest_7 %}
        {% assign m8 = settings.locale_fp_latest_8 %}
      {% else %}
        {% assign m6 = "To see here a list of pages with info about your store please" %}
        {% assign m7 = "create a new linklist" %}
        {% assign m8 = "the add pages to it" %}
      {% endif %}   
      {{ m6 }} <a href="/admin/links/new">{{ m7 }}</a>
      {{ m3 }} <strong>info</strong> {{ m8 }}.
    </div>
  {% endif %}
</div> 
{% endif %}




{% if settings.frontpage_collections != "disabled" %}	
<div id="collections" class="section"> 
  <div id="title" class="block">
    {% if settings.locale == "enabled" %}
      {% assign c = settings.locale_coll %}
    {% else %}
      {% assign c = "Collections" %}
    {% endif %}   
    <h4>{{ c }}</h4>
  </div> 
  <div id="details" class="block">        
    {% if collections.size > 0 %}
    <div id="articles">  
      {% for collection in collections limit : settings.frontpage_collections_count %}
        <div id="collection{{ forloop.index }}" class="scroller">
          {% if collection.products.size > 0 %}
            {% for product in collection.products limit : 1 %}
              <div id="article" class="collection thumb">
                <div id="details">                    
                  <div id="figcaption">
                    <div id="title">
                      <a href="{{ collection.url }}" title="{{ collection.title | escape }}">
                      <h3>{{ collection.title | escape }}</h3></a>
                    </div>   
                    <div id="size">
                      {{ collection.products.size }} products.
                    </div>                  
                  </div>
                  <div id="figure">
                    <a href="{{ collection.url }}" title="{{ collection.title | escape }}">
                      <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
                  </div>   
                  {% if collection.description != blank %}
                  <div id="summary">                
                    {{ collection.description }}
                  </div>  
                  {% endif %}                            
                </div> <!-- details -->
              </div> <!-- article --> 
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div> <!-- articles -->    
    {% else %}
      <div class="notice">        
        &nbsp;
      </div>
    {% endif %}
  </div> 
  <div id="navigation" class="block">  
    <ul class="inline-list">
    {% for collection in collections limit : settings.frontpage_collection_count %}
      <li {% if forloop.first %} class="active" {% endif %}><a href="#collection{{ forloop.index }}">&bull;</a></li>
    {% endfor %}
    </ul>
  </div>
</div> 
{% endif %}


{% if settings.frontpage_vendors != "disabled" %}	
<div id="vendors" class="section"> 
  <div id="title" class="block">
    {% if settings.locale == "enabled" %}
      {% assign v = settings.locale_vendors %}
      {% assign t = settings.locale_types %}
    {% else %}
      {% assign v = "Vendors" %}
      {% assign t = "Product types" %}
    {% endif %} 
    <h4>{{ v }} & {{ t }}</h4>
  </div> 
  <div id="details" class="block">            
    <div id="articles">  
      {% if shop.vendors.size > 0 %}
        <div id="vendor1" class="scroller">
          <div id="article" class="page">
            <div id="details">
              <div id="figcaption">
                <div id="title">
                  <h3>{{ v }}</h3>
                </div>
              </div>
              <div id="summary">
                <ul class="inline-list">
                  {% for product_vendor in shop.vendors %}
                    <li>{{ product_vendor | link_to_vendor  }}</li>      
                  {% endfor %}                  
                </ul>      
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if shop.types.size > 0 %}
        <div id="vendor2" class="scroller">
          <div id="article" class="page">
            <div id="details">
              <div id="figcaption">
                <div id="title">
                  <h3>{{ t }}</h3>
                </div>
              </div>
              <div id="summary">
                <ul class="inline-list">
                	{% for product_type in shop.types %}
                    <li>{{ product_type | link_to_type  }}</li>          
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endif %}      
    </div> <!-- articles -->    
  </div> 
  <div id="navigation" class="block">
    <ul class="inline-list">
    {% if shop.vendors.size > 0 %}  
      <li class="active"><a href="#vendor1">&bull;</a></li>  
    {% endif %}
    {% if shop.types.size > 0 %}  
      <li><a href="#vendor2">&bull;</a></li>  
    {% endif %}
    </ul>
  </div>
</div> 
{% endif %}


