{% paginate search.results by 8 %}

{% if search.terms == blank %}
  <div id="article" class="col col-1">  
    <div id="details">
      {% if settings.locale == "enabled" %}
        {% assign s = settings.locale_search %}
      {% else %}
        {% assign s = "Search" %}
      {% endif %} 
      <div id="title">
        <h1>{{ s }}</h1>
      </div>
          
      <div id="search">    
        <ul class="search block">        
          <li>
            <form action="/search" method="get">
              <input class="text" type="text" name="q" /> 
              <input class="button" type="submit" value="{{ s }}"  />
            </form>
          </li>
        </ul>
      </div>    
    </div>
  </div>  

  <div id="sidebar" class="col col-2">   
    <div id="aside">      
      {% include '_pages' %}
    </div>
    <div id="navigation" class="collections block">    
      {% include '_navigation.collections' %}    
    </div>  
  </div>
  
  
      
{% else %}
  
  {% if search.results.size == 0 %}

    <div id="article" class="col col-1">
      {% include '_notfound' %}
    </div>  

    <div id="sidebar" class="col col-2">   
      {% include '_navigation.collections' %}
    </div>
  
  {% else %} 
   
   <div id="details">
    <div id="navigation" class="collections block">
      <ul class="inline-list description"><li>Search results for: {{ search.terms }} // {{ search.results.size }} items</li></ul>
    </div>
    
    <div id="articles" class="block">
      {% for item in search.results %}
        {% if item.featured_image %}  
          {% assign product = item %}    
          <div id="article" class="thumb c-{{ forloop.index }}">
            {% include '_article.thumb' %}
          </div> <!-- article --> 
        {% else %}
          <div id="article" class="page c-{{ forloop.index }}">
            <div id="details">
              <div id="figcaption">
                <div id="title">
                  <a href="{{ item.url | within: collections.all }}" title="{{ item.title | escape }}">
                    <h3>{{ item.title | escape }}</h3></a>
                </div>
              </div>
              <div id="summary" class="text">
                {{ item.content | strip_html | truncatewords: 60 }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>    
    {% include '_paginate' %}    	          
  </div>
  
  {% endif %}
  
{% endif %}
  

{% endpaginate %}

