<div id="info" class="left col-1">
  <h3>{{ pages.about-us.title }}</h3>
	{{ pages.about-us.content }}
	
	<span class="more link">&rarr;</span>
	
	<div id="excerpt" class="hidden">
	  {% assign article = pages.frontpage %}
    {% if article.content != "" %}
  		<h5>{{ pages.frontpage.title }}</h5>
  		{{ pages.frontpage.content }}
  	{% else %}
  	  In <em>Admin &gt; Blogs &amp; Pages</em>, create a page with the handle <strong><code>frontpage</code></strong> and it will show up here.<br />
  	  {{ "Learn more about handles" | link_to "http://wiki.shopify.com/Handle" }}
  	{% endif %}
  </div>
	
	<div id="featured">
	  <ul>
	    {% for product in collections.all.products limit:3 offset:3 %}
		  <li>
		    <table>
		      <tr>
		        <td class="image">
		          <a href="{{ product.url | within: collections.all }}">
		            <img class="thumb" src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" /></a>
		        </td>
		        <td class="info">
		          <span class="category">{{ product.type | upcase }}</span> 
		          <br/>
		          <a href="{{ product.url | within: collections.all }}">{{ product.title }}</a>
		          <br/>
		          <a href="{{ product.url | within: collections.all }}"><span class="price">{{ product.price | money }}</span></a>
		        </td>
		      </tr>
		    </table>
		  </li>
		  {% endfor %}
	</ul>
	</div>
	
	<p><a class="button rounded greenb" href="/collections/all">More Recent Products</a></p>
</div>

<div id="featured" class="right col-2">
  {% for product in collections.frontpage.products limit: 3 %}
    <div id="item">	    
	    <div class="left col-1">
	      {% for image in product.images limit: 1 %}
	        <a href="{{ product.url | within: collections.all }}" title="">	    
	          <img src="{{ image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" /></a>
	      {% endfor %}
	    </div>
	    <div class="right col-2">
	      <h6 class="title yellowb">
	      <a href="{{ product.url | within: collections.all }}" title="">
	        {{ product.title }} by {{ product.vendor }}
	      </a>
	      </h6>
	    </div>
	  </div>
  {% endfor %}  
  
  <div class="clear"></div>
  
  <div id="sale">  
    <div id="item" class="percent"><h1>%</h1></div>
    {% for product in collections.paginated-sale.products %}  
    <div id="item">
      <div class="left col-1">
        <a href="{{ product.url | within: collections.all }}">
          <img class="thumb" src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" />
        </a>
      </div>
      <div class="right col-2">		        
        <a href="{{ product.url | within: collections.all }}">{{ product.title }}</a>
        <br/>
        <a href="{{ product.url | within: collections.all }}"><span class="price">{{ product.price | money }}</span></a>
        <br/>
        <a href="{{ product.url | within: collections.all }}"><span class="price-old">{{ product.price_max | money }}</span></a>
		  </div>
		</div>
    {% endfor %}
  </div>
</div>




