<h2>{{ product.title }} by {{ product.vendor }} <span>{{ product.price | money }}</span></h2>

<div id="description" class="left col-1">	
	{{ product.description }}
	
	<div id="product-main" class="col-1 left">				    
	  <div id="product-image">
		  <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
	  </div>  
	</div>
	
	<div id="product-aside" class="col-2 right">
	  
	  <div id="thumbs">
	  {% if product.images.size > 1%}    	               
      {% for image in product.images %}
        <img class="link" src="{{ image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" rev="{{ image | product_img_url: 'original' }}" />
      {% endfor %}	      
    {% endif %}   
    </div>
    
	  <div id="product-select">
		  <form action="/cart/add" method="post" name="cartadd">
        {% if product.available %}
    			<div id="product-variants">
	
            <select id="variant-select" name='id'>
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {% else %}
        					<option value="{{ variant.id }}" disabled="disabled">{{ variant.title }} - SOLD OUT</option>
        				{% endif %}
              {% endfor %}
            </select>
    			</div>      			

    			<span id="price-field"></span><br />

    			<input class="link button rounded" type="submit" name="add" value="Add to cart" id="add-cart">
			  {% else %}
			    <h6>TEMPORARILY UNAVAILABLE</h6>
			  {% endif %}
		  </form>
	  </div>	  
	</div>	
</div>

<div id="navigation" class="right col-2">  
  <div class="browse-more">
    Browse more {{ product.type | link_to_type }} or additional {{ product.vendor | link_to_vendor }} products.
  </div>
  
  {% if product.collections %}
  <div id="collections">
    <h6 class="link"><span class="more">&nbsp;!&nbsp;</span> See more products from similar collections</h6>
    <ul>
    {% for c in product.collections %}
      <li><a href="{{ c.url }}"{% if collection.url == c.url %} class="active"{% endif %}>{{ c.title | upcase }}</a></li>		  
    {% endfor %}
    </ul>    
  </div>
	{% endif %}
	
	{% if product.tags %}
  <div id="tags">
    <h6 class="link"><span class="more">&nbsp;t&nbsp;</span> Browse by tags</h6>
    <ul>
      {% for tag in product.tags %}  
        <li>{{ tag | upcase | link_to_tag: tag }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  
  <div id="searchbox">
    <h6 class="link"><span class="more">&rarr;</span> Search</h6>
    <form action="/search" method="get">
      <table><tr>
			<td><input class="text" type="text" name="q" /></td> 
			<td><input class="button" type="submit" value="Search" /></td>
			</tr></table>
		</form>
	</div>
  
  <div id="sale">  
    <h6 class="link"><span class="more sale">%</span> Products on sale</h6>
    <div id="items">
      <div id="item" class="sale"><h1>%</h1></div>
      {% for product in collections.paginated-sale.products %}  
      <div id="item">
        <div class="left col-1">
          <a href="{{ product.url | within: collections.all }}">
            <img class="thumb" src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" />
          </a>
        </div>
        <div class="right col-2">		        
          <a href="{{ product.url | within: collections.all }}">{{ product.title }}</a>
          <br/>
          {% if product.compare_at_price_max > product.price %} 
            <span class="price price-sale">{{ product.price | money }}</span>
            <br/>
            <span class="price price-old">{{ product.compare_at_price_max | money }}</span>
          {% else %}
            <span class="price">{{ product.price | money }}</span>
          {% endif %}
		    </div>
		  </div>
    {% endfor %}
    </div>
  </div>
  
  	  
</div>

<script type="text/javascript">
<!--
  // mootools callback for multi variants dropdown selector
  var selectCallback = function(variant, selector) {
    if (variant && variant.available == true) {
      // selected a valid variant
      $('add-cart').removeClass('disabled'); // remove unavailable class from add-to-cart button
      $('add-cart').disabled = false;           // reenable add-to-cart button
      $('price-field').innerHTML = Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}");  // update price field
    } else {
      // variant doesn't exist
      $('add-cart').addClass('disabled');      // set add-to-cart button to unavailable class
      $('add-cart').disabled = true;              // disable add-to-cart button      
      $('price-field').innerHTML = (variant) ? "Sold Out" : "Unavailable"; // update price-field message
    }
  };

  // initialize multi selector for product
  window.addEvent('domready', function() {
    new Shopify.OptionSelectors("variant-select", { product: {{ product | json }}, onVariantSelected: selectCallback }); 
  });
-->
</script>
