<div id="navigation" class="left col-1">
  <div id="collection-desc">
		<h3>Search results for: {{ search.terms }}</h3>
	</div>

  <h6>Browse collections</h6>
	{% if collections.size > 0 %}
    <ul class="categories">
  	  {% for c in collections %}
  	    {% if c.handle != "frontpage" %}
  		    <li><a href="{{ c.url }}"{% if collection.url == c.url %} class="active"{% endif %}>{{ c.title | upcase }}</a></li>
  		  {% endif %}
  		{% endfor %}
  	</ul>
	{% else %}
  	<p>Once you <a href="{{ shop.url }}/admin/custom_collections">add some collections</a>, they will be displayed like this...</p>
  	<ul>
  		<li><a href="">EXAMPLE COLLECTION 1</a></li>
  		<li><a href="">EXAMPLE COLLECTION 2</a></li>
  		<li><a href="">EXAMPLE COLLECTION 3</a></li>
  	</ul>
  {% endif %}
  
  <div id="searchbox">
    <h6>Search again</h6>
		<form action="/search" method="get">
			<input class="text" type="text" name="q" /> 
			<input class="link button rounded" type="submit" value="Go"  />
		</form>
	</div>  
  
</div>

<div id="items" class="right col-2">
  {% paginate search.results by 6 %}
  {% if search.results.size == 0 %}
	  <h3>We did not find any products for you.</h3>
	{% else %}
	  {% for product in search.results %}
	    <div id="item">
	      <div class="left col-1">	        
	        <div id="main-image">
	          <a href="{{ product.featured_image | product_img_url: 'original' }}" title="{{ product.title | escape }}" class="product-zoom">	    
	            <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
	          </a>
	        </div>	   	        
	      </div>
	      <div class="right col-2">
	        <h6 class="title"><a href="{{ product.url | within: collections.all }}" title="">{{ product.title }} by {{ product.vendor }}</a></h6>
	        
          <p>
            {% if product.compare_at_price_max > product.price %} 
              <span class="price price-sale">{{ product.price | money }}</span>
              &nbsp;
              <span class="price-old">{{ product.compare_at_price_max | money }}</span>
            {% else %}
              <span class="price">{{ product.price | money }}</span>
            {% endif %}
          </p>	        
	        
	        {% if product.images.size > 1%}
	          <div id="images">	          
	            {% for image in product.images %}
	              <img class="link" src="{{ image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" rev="{{ image | product_img_url: 'original' }}" />
	            {% endfor %}	            
	          </div>
	        {% endif %}
	        	        	        
	        <div id="description">
			      <p>{{ product.description | strip_html | truncate: 250 }}</p>
			      <span class="more link">&rarr;</span>
			      
			      <div id="full" class="hidden">
			        {{ product.description | strip_html }}
			      </div>
			      			      
		      </div>
	      </div>
	      
	    </div>
	  {% endfor %}
	
	  <div class="clear"></div>
	  
	  {% if paginate.pages > 1 %}
	  <div id="paginate">
		  {{ paginate | default_pagination }}
	  </div>
	  {% endif %}	  
	{% endif %}
	{% endpaginate %}
</div>
	
