{% assign article = pages.frontpage %}
<div id="article" class="frontpage">
  <div id="details">    
    <h1>
        <a href="{{ article.url }}" title="{{ article.title }}"> {{ article.title | escape }} </a>
    </h1>
    <div id="summary" class="text">                
       {{ article.excerpt }}
    </div>
    <div id="read-more">
      <a href="{{ article.url }}" title="{{ article.title }}">
        {% if settings.locale == "enabled" %}
          {{ settings.locale_read_more }} &rarr;
        {% else %}
          Read more &rarr;
        {% endif %}
      </a>
    </div>
  </div>
</div> 

{% if settings.frontpage_featured != "disabled" %}
								
<div id="section" class="featured">
  <div id="details">
    <h1>{{ collections.featured.title }}</h1>
    {% if collections.featured.products.size > 0 %}
    <div id="articles">
      {% for product in collections.featured.products limit : settings.frontpage_featured_count %}
<div id="article" class="thumb">
  <div id="details">
    <div id="figcaption">
      <div id="title">
        <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
        <h3>{{ product.title | escape }}</h3></a>
      </div>
      <div id="price">
        {% if settings.locale == "enabled" %}
          {% assign add = settings.locale_cart_add %}
        {% else %}
          {% assign add = "Add to cart" %}
        {% endif %}
        <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
          {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
      </div>
    </div>
    <div id="figure">
      <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
        <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
    </div>
    <div id="summary">                
        {{ product.description | truncatewords: 40 }}
    </div>
  </div> <!-- details -->
</div> <!-- article --> 
      {% endfor %}
    </div> <!-- articles -->
    {% else %}
      <div class="notice">        
        To see here a list of featured products please <a href="/admin/custom_collections/new">create a new collection</a>
        and name it's handle to <strong>featured</strong> then add products to it.
      </div>
    {% endif %}
  </div> 
</div> 

{% endif %}

{% if settings.frontpage_all != "disabled" %}
								
<div id="section" class="all">
  <div id="details">
    <h1>{{ collections.all.title }}</h1>
    {% if collections.all.products.size > 0 %}
    <div id="articles">
      {% for product in collections.all.products limit : settings.frontpage_all_count %}
<div id="article" class="thumb">
  <div id="details">
    <div id="figcaption">
      <div id="title">
        <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
        <h3>{{ product.title | escape }}</h3></a>
      </div>
      <div id="price">
        {% if settings.locale == "enabled" %}
          {% assign add = settings.locale_cart_add %}
        {% else %}
          {% assign add = "Add to cart" %}
        {% endif %}
        <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
          {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
      </div>
    </div>
    <div id="figure">
      <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
        <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
    </div>
    <div id="summary">                
        {{ product.description | truncatewords: 40 }}
    </div>
  </div> <!-- details -->
</div> <!-- article --> 
      {% endfor %}
    </div> <!-- articles -->
    {% else %}
      <div class="notice">        
        To see here a list of featured products please <a href="/admin/custom_collections/new">create a new collection</a>
        and name it's handle to <strong>all</strong> then add products to it.
      </div>
    {% endif %}
  </div> 
</div> 

{% endif %}

{% if settings.frontpage_sales != "disabled" %}
								
<div id="section" class="sales">
  <div id="details">
    <h1>{{ collections.sales.title }}</h1>
    {% if collections.sales.products.size > 0 %}
    <div id="articles">
      {% for product in collections.sales.products limit : settings.frontpage_sales_count %}
<div id="article" class="thumb">
  <div id="details">
    <div id="figcaption">
      <div id="title">
        <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
        <h3>{{ product.title | escape }}</h3></a>
      </div>
      <div id="price">
        {% if settings.locale == "enabled" %}
          {% assign add = settings.locale_cart_add %}
        {% else %}
          {% assign add = "Add to cart" %}
        {% endif %}
        <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
          {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
      </div>
    </div>
    <div id="figure">
      <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
        <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
    </div>
    <div id="summary">                
        {{ product.description | truncatewords: 40 }}
    </div>
  </div> <!-- details -->
</div> <!-- article --> 
      {% endfor %}
    </div> <!-- articles -->
    {% else %}
      <div class="notice">        
        To see here a list of featured products please <a href="/admin/custom_collections/new">create a new collection</a>
        and name it's handle to <strong>sales</strong> then add products to it.
      </div>
    {% endif %}
  </div> 
</div> 

{% endif %}





