<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{ shop.name }} &#124; {{ page_title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{{ 'base.css' | asset_url | stylesheet_tag }}
	{{ 'fonts.css' | asset_url | stylesheet_tag }}
	{{ 'layout.css' | asset_url | stylesheet_tag }}	
	{{ 'basic.css' | asset_url | stylesheet_tag }}
	{{ 'esquire.css' | asset_url | stylesheet_tag }}
	<!--[if lte IE 6]>{{ 'ie.css' | asset_url | stylesheet_tag }}<![endif]-->

	{{ 'jquery-ui-1.8.6.custom.css' | asset_url | stylesheet_tag }}
	
	{{ 'jquery-1.4.3.min.js' | asset_url | script_tag }}  
	{{ 'jquery-ui-1.8.6.custom.min.js' | asset_url | script_tag }}
	{{ 'jquery.init.js' | asset_url | script_tag }}
	
	
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}

	{{ content_for_header }}
	
</head>

<body>	
	<div id="header" class="block">
	  <div class="container">
		  <div id="logo" class="left col-1">
			  <h1><a href="/" title="{{ shop.name }}">{{ shop.name }}</a></h1>
			</div>
			<div id="navigation" class="menu right col-2">
			  {% capture active_url %}
			    {% if template == "index" %}
			      /
			    {% elsif template == "collection" %}
			      /collections/{{ collection.handle }}
			    {% elsif template == "product" %}
			      {% if collection %}
			        /collections/{{ collection.handle }}
			      {% endif %}
			      /products/{{ product.handle }}
			    {% elsif template == "page" %}
			      /pages/{{ page.handle }}
			    {% elsif template == "blog" %}
			      /blogs/{{ blog.handle }}
			    {% elsif template == "cart" %}
			      /cart
			    {% elsif template == "search" %}
			      /search
			    {% endif %}
			  {% endcapture %}
				
				<ul class="inline-list">
				  {% if linklists.main-menu.links.size > 0 %}				
				    {% for link in linklists.main-menu.links %}
					  <li{% if forloop.last %}{% if cart.item_count == 0 %} id="end"{% endif %}{% endif %}>
					    <a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title }}</a></li>
					  {% endfor %}
					{% endif %}
					
					{% if cart.item_count > 0 %}
					<li id="cart" class="last">					  
					  <a href="/cart"{% if template == "cart" %} class="active"{% else %} id="end"{% endif %}>
					    <span class="ui-icon ui-icon-cart"></span>
					    {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}
					  </a>
				  </li>
				  {% endif %}
				</ul>
			</div>			
		</div>
	</div>
	
	
	{% case template %}
	  {% when 'collection' or 'search' or 'blog' or 'article' %}
	    <div id="{{ template }}" class="{{ template }} collection block">
	  {% when 'page' or 'product' or 'cart' or 'not_found' %}
	    <div id="{{ template }}" class="{{ template }} page block">
	  {% else %}
	    <div id="{{ template }}" class="{{ template }} block">
	{% endcase %}		
	  <div class="container">
		  {{ content_for_layout }}
		</div>
	</div>
		
	<div id="footer" class="block">
	  <div class="container">
			<div class="left">
			  &copy; {{ "now" | date: "%Y" }} <a href="/">{{ shop.name }}</a>. 			  
			</div>
			<div class="right menu">
			  {% if linklists.footer.links.size > 0 %}
			    <ul class="inline-list">
			    {% for link in linklists.footer.links %}
				    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
				  {% endfor %}
				  </ul>
				{% endif %}
			</div>
		</div>
	</div>
	
		
</body>
</html>
