<div id="details" class="block">
  {% if settings.locale == "enabled" %}
    {% assign nf = settings.locale_nf %}
    {% assign nf1 = settings.locale_nf_1 %}
    {% assign nf2 = settings.locale_nf_2 %}
    {% assign nf3 = settings.locale_nf_3 %}
  {% else %}
    {% assign nf = "Page not found" %}
    {% assign nf1 = "The page or product you are looking for is not found" %}
    {% assign nf2 = "Either the page address was wrong, or, the page itself was moved / removed by the site administrator" %}
    {% assign nf3 = "Please try the search, browse the menu or the sidebar links" %}
  {% endif %}
  <div id="title">
    <h1>{{ nf }}</h1>
  </div>
  <div id="summary">
    <p>{{ nf1 }}.</p>
    <p>{{ nf2 }}.</p>
    <p>{{ nf3 }}.</p>
  </div> 
  
  <div id="search">
    <h3>
    {% if settings.locale == "enabled" %}
      {{ settings.locale_search }}
      {% assign s = settings.locale_search %}
    {% else %}
      Search
      {% assign s = "Search" %}
    {% endif %} 
    </h3>
    <ul class="search block">        
      <li>
        <form action="/search" method="get">
          <input class="text" type="text" name="q" /> 
          <input class="button" type="submit" value="{{ s }}"  />
        </form>
      </li>
    </ul>
  </div>    
</div>
