<div id="article" class="col col-1">
  <div id="details">      
    <h1>
      <a href="{{ article.url }}" title="Permanent link to {{ article.title | escape }}">{{ article.title | escape }}</a>
    </h1> 
    <div id="meta">
      {% if settings.locale == "enabled" %}
        {{ settings.locale_by }}
      {% else %}
        By  
      {% endif %}
       {{ article.author }}  
      
      {% if settings.locale == "enabled" %}
        {{ settings.locale_on }}
      {% else %}
        on  
      {% endif %} 
       
       {{ article.created_at | date: "%B %d, %Y" }}
      {% if blog.comments_enabled? %}
        &mdash; 
        <a href="{{article.url}}#comments">{{ article.comments.size }} 
        {% if settings.locale == "enabled" %}
          {{ settings.locale_comments }}
        {% else %}
          comments  
        {% endif %}           
        </a>
      {% endif %}
    </div>
    
    <div id="summary">    
      {{ article.content }}
    </div>
      
    {% if blog.comments_enabled? %}
    <div id="comments">
      <h2>
      {% if settings.locale == "enabled" %}
        {{ settings.locale_comments }}
      {% else %}
        Comments  
      {% endif %} 
       ({{ article.comments.size }})
      </h2>
      {% if article.comments.size > 0 %}
      <ul id="comments" class="list">
        {% for comment in article.comments %}
          <li>              
            <blockquote>&ldquo;{{ comment.content | strip_html  }}&rdquo;</blockquote>                              
            <span class="date"># 
            {% if settings.locale == "enabled" %}
              {{ settings.locale_by }}
            {% else %}
              By  
            {% endif %}              
             {{ comment.author }} 
            
            {% if settings.locale == "enabled" %}
              {{ settings.locale_on }}
            {% else %}
              on  
            {% endif %}               
              {{ comment.created_at | date: "%B %d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
        
      <!-- Comment Form -->
      {% form article %}    
        
        <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
        {% if form.posted_successfully? %}
          {% if blog.moderated? %}
            <div class="notice">
              {% if settings.snippets == "enabled" %}
              {% else %}
                Successfully posted your comment.<br />
                It will have to be approved by the blog owner first before showing up.
              {% endif %}              
            </div>
          {% else %}
            <div class="notice">
            {% if settings.locale == "enabled" %}
              {{ settings.locale_commentposted }}
            {% else %}
              Successfully posted your comment.  
            {% endif %} 
            </div>
          {% endif %}
        {% endif %}    
        
        
        {% if form.errors %}
          <div class="notice error">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commenterror }}
          {% else %}
            Not all the fields have been filled out correctly!
          {% endif %}            
          </div>
        {% endif %}
          
        <h2>
        {% if settings.locale == "enabled" %}
          {{ settings.locale_commentleave }}
        {% else %}
          Leave a comment
        {% endif %}
        </h2>
          
        <dl>
          <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentname }}
          {% else %}
            Your name
          {% endif %}
          </label></dt>
          <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="text {% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

          <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentemail }}
          {% else %}
            Your email
          {% endif %}
          </label></dt>
          <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="text {% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

          <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentcomment }}
          {% else %}
            Your comment
          {% endif %}
          </label></dt>
          <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
          
          <dt>&nbsp;</dt>
          <dd>
          {% if settings.locale == "enabled" %}
            <input class="button" type="submit" value="{{ settings.locale_commentsubmit }}" />
          {% else %}
            <input class="button" type="submit" value="Post comment" />     
          {% endif %}
          </dd>
          
          {% if blog.moderated? %}  
          <dt>&nbsp;</dt>
          <dd class="comment-meta">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentnote }}
          {% else %}
            Comments have to be approved before showing up
          {% endif %}
          </dd>      
          {% endif %}
        </dl>          
      {% endform %}
      
    </div> <!-- comments -->
    {% endif %}
  </div> <!-- details -->  
</div><!-- article -->
    
<div id="aside" class="navigation col col-2">
  <div id="details">

<h3>
{% if settings.locale == "enabled" %}
  {{ settings.locale_article_posts }}
{% else %}
  Latest blog posts
{% endif %}
</h3>
<ul>
  {% for article in blog.articles limt: 3%}
    <li>
      <a href="{{ article.url }}" title="{{ article.title }}">
        {{ article.title }}
        <span class="date"># {{ article.created_at | date: "%B %d, %Y" }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
    
<h3>
{% if settings.locale == "enabled" %}
  {{ settings.locale_article_comments }}
{% else %}
  Recent comments
{% endif %}
</h3>
<ul>
  {% assign comments_found = false %}
  {% for article in blog.articles limt: 3%}		   
    {% for comment in article.comments limit: 2 %}
      <li>
        <a href="{{ comment.url }}" title="Comment on {{ article.title }}">
          <blockquote>&ldquo;{{ comment.content | strip_html | truncate: 250 }}&rdquo;</blockquote>                
        </a>
        <span class="date"># {{ comment.author }}</span>
      </li>
      {% assign comments_found = true %}
    {% endfor %}
  {% endfor %}
  
  {% unless comments_found %}
    <li>
      {% if settings.locale == "enabled" %}
        {{ settings.locale_article_no_comments }}
      {% else %}
        No comments were posted yet.
      {% endif %}        
    </li>
  {% endunless %}
</ul>
        
{% if collections.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_allcollections }}
  {% else %}
    All collections
  {% endif %}
  </h3>
  <ul>
	  {% for i in collections %}      	    
		  <li {% if collection.url == i.url %} class="active"{% endif %}>
		    <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title }}</a>
		  </li>
		{% endfor %}
	</ul>
{% endif %}    
        
{% if shop.types.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_alltypes }}
  {% else %}
    All product types
  {% endif %}          
  </h3>        
  <ul>
  	{% for product_type in shop.types %}
      <li>
        {{ product_type | link_to_type  }}
      </li>
    {% endfor %}
	</ul>      
{% endif %}

{% if shop.vendors.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_allvendors }}
  {% else %}
    All vendors
  {% endif %}
  </h3>
  <ul>
  	{% for product_vendor in shop.vendors %}
      <li {% if collection.url == url_for_vendor %} class="active"{% endif %}>
        {{ product_vendor | link_to_vendor  }}
      </li>
    {% endfor %}
  </ul>      
{% endif %}

{% if collection.all_tags.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_coll_tags }}
  {% else %}
    Tags
  {% endif %}
   <em>{{ collection.title }}</em>
  </h3>
  <ul class="inline-list">
    {% for tag in collection.all_tags %}
      <li>
        {{ tag | highlight_active_tag | link_to_tag: tag }}
      </li>
    {% endfor %}
  </ul>      
{% endif %} 

<h3>
{% if settings.locale == "enabled" %}
  {{ settings.locale_search }}
  {% assign s = settings.locale_search %}
{% else %}
  Search
  {% assign s = "Search" %}
{% endif %} 
</h3>
<ul class="search">        
  <li>
    <form action="/search" method="get">
      <input class="text" type="text" name="q" /> 
      <input class="button" type="submit" value="{{ s }}"  />
    </form>
  </li>
</ul> 
<h3>
{% if settings.locale == "enabled" %}
  {{ settings.locale_share }}
{% else %}
  Share 
{% endif %}            
</h3>
<ul>
  <li class="twitter">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="metamn">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>          
  </li>
  <li class="facebook">
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like layout="button_count" show_faces="true" width="150"></fb:like>              
  </li>
</li>    
  </div>
</div>
