<div id="article" class="col col-1">
  <div id="details">      
    <h1>
      <a href="{{ article.url }}" title="Permanent link to {{ article.title | escape }}">{{ article.title | escape }}</a>
    </h1> 
    <div id="meta">
      {% if settings.locale == "enabled" %}
        {{ settings.locale_by }}
      {% else %}
        By  
      {% endif %}
       {{ article.author }}  
      
      {% if settings.locale == "enabled" %}
        {{ settings.locale_on }}
      {% else %}
        on  
      {% endif %} 
       
       {{ article.created_at | date: "%B %d, %Y" }}
      {% if blog.comments_enabled? %}
        &mdash; 
        <a href="{{article.url}}#comments">{{ article.comments.size }} 
        {% if settings.locale == "enabled" %}
          {{ settings.locale_comments }}
        {% else %}
          comments  
        {% endif %}           
        </a>
      {% endif %}
      
      {% unless article.tags  == blank %}
        . 
        {% if settings.locale == "enabled" %}
          {{ settings.locale_tagged }}: 
        {% else %}
          Tagged with   
        {% endif %}
        {% for tag in article.tags %}
          <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
        {% endfor %}
      {% endunless %} 
    </div>
    
    <div id="summary">    
      {{ article.content }}
    </div>
      
    {% if blog.comments_enabled? %}
    <div id="comments">
      <h2>
      {% if settings.locale == "enabled" %}
        {{ settings.locale_comments }}
      {% else %}
        Comments  
      {% endif %} 
       ({{ article.comments.size }})
      </h2>
      {% if article.comments.size > 0 %}
      <ul class="comments">
        {% for comment in article.comments %}
          <li> 
            "{{ comment.content | strip_html  }}"
            <br/>
            <div class="date">
            {% if settings.locale == "enabled" %}
              {{ settings.locale_by }}
            {% else %}
              by  
            {% endif %}              
             {{ comment.author }} 
            
            {% if settings.locale == "enabled" %}
              {{ settings.locale_on }}
            {% else %}
              on  
            {% endif %}               
              {{ comment.created_at | date: "%B %d, %Y" }}
            </div>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
        
      <!-- Comment Form -->
      {% form article %}    
        
        <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
        {% if form.posted_successfully? %}
          {% if blog.moderated? %}
            <div class="success">
              {% if settings.snippets == "enabled" %}
              {% else %}
                Successfully posted your comment.<br />
                It will have to be approved by the blog owner first before showing up.
              {% endif %}              
            </div>
          {% else %}
            <div class="success">
            {% if settings.locale == "enabled" %}
              {{ settings.locale_commentposted }}
            {% else %}
              Successfully posted your comment.  
            {% endif %} 
            </div>
          {% endif %}
        {% endif %}    
        
        
        {% if form.errors %}
          <div class="error">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commenterror }}
          {% else %}
            Not all the fields have been filled out correctly!
          {% endif %}            
          </div>
        {% endif %}
          
        <h2>
        {% if settings.locale == "enabled" %}
          {{ settings.locale_commentleave }}
        {% else %}
          Leave a comment
        {% endif %}
        </h2>
          
        <dl>
          <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentname }}
          {% else %}
            Your name
          {% endif %}
          </label></dt>
          <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="text {% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

          <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentemail }}
          {% else %}
            Your email
          {% endif %}
          </label></dt>
          <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="text {% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

          <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentcomment }}
          {% else %}
            Your comment
          {% endif %}
          </label></dt>
          <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
          
          <dt>&nbsp;</dt>
          <dd>
          {% if settings.locale == "enabled" %}
            <input class="button" type="submit" value="{{ settings.locale_commentsubmit }}" />
          {% else %}
            <input class="button" type="submit" value="Post comment" />     
          {% endif %}
          </dd>
          
          {% if blog.moderated? %}  
          <dt>&nbsp;</dt>
          <dd class="comment-meta">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_commentnote }}
          {% else %}
            Comments have to be approved before showing up
          {% endif %}
          </dd>      
          {% endif %}
        </dl>          
      {% endform %}
      
    </div> <!-- comments -->
    {% endif %}
  </div> <!-- details -->  
</div><!-- article -->
    
<div id="sidebar" class="col col-2">  
  <div id="aside">    
    <ul id="share" class="inline-list">
      <li class="twitter">
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="metamn">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>          
      </li>
      <li class="facebook">
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like layout="button_count" show_faces="true" width="150"></fb:like>              
      </li>
    </ul> 
    
    
    <h4>
    {% if settings.locale == "enabled" %}
      {{ settings.locale_article_posts }}
    {% else %}
      Latest blog posts
    {% endif %}
    </h4>
    <ul class="hoverable">
      {% for article in blog.articles limt: 3%}
        <li>
          <a href="{{ article.url }}" title="{{ article.title }}">
            {{ article.title }}            
          </a>
          <span class="date">on {{ article.created_at | date: "%B %d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
        
    <h4>
    {% if settings.locale == "enabled" %}
      {{ settings.locale_article_comments }}
    {% else %}
      Recent comments
    {% endif %}
    </h4>
    <ul class="hoverable">
      {% assign comments_found = false %}
      {% for article in blog.articles limt: 3%}		   
        {% for comment in article.comments limit: 2 %}
          <li>
            <a href="{{ comment.url }}" title="Comment on {{ article.title }}">
              {{ comment.content | strip_html | truncatewords: 20 }}                
            </a>
            <span class="date">by {{ comment.author }}</span>
          </li>
          {% assign comments_found = true %}
        {% endfor %}
      {% endfor %}
      
      {% unless comments_found %}
        <li>
          {% if settings.locale == "enabled" %}
            {{ settings.locale_article_no_comments }}
          {% else %}
            No comments were posted yet.
          {% endif %}        
        </li>
      {% endunless %}
    </ul>
  </div>
  
  <div id="navigation" class="collections block">
    {% if collections.size > 0 %}
      <span class="collections">
        {% for i in collections %}
          {% if collection.url == i.url %} 
            {% assign klass = "collection active" %}
          {% else %}
            {% assign klass = "collection" %}
          {% endif %}
          <a href="{{ i.url }}" title="{{ i.title | upcase }}" class="{% if forloop.last %} last {% endif %} {{ klass }}">{{ i.title }}</a>
        {% endfor %}
      </span>
    {% endif %}    
    
    {% if shop.types.size > 0 %}
    <span class="types"> 
    	{% for product_type in shop.types %}
        {{ product_type | link_to_type  }}          
      {% endfor %}
    </span>    
    {% endif %}
    
    {% if shop.vendors.size > 0 %}
    <span class="vendors">
      {% for product_vendor in shop.vendors %}
        {{ product_vendor | link_to_vendor  }}      
      {% endfor %}      
    </span>
    {% endif %}
  </div>
</div>
