{% if cart.item_count == 0 %}
<div id="article" class="col col-1">
  <div id="details">
    {% if settings.snippets == "enabled" %}
      {% include 'cart_empty' %}
    {% else %}
      <h1>Your cart is empty.</h1>
      <div id="summary">
        <a href="/">Please visit our shop.</a>
      </div>
    {% endif %} 
  </div>
</div>  

<div id="sidebar" class="col col-2">   
  <div id="navigation" class="collections block">
    {% if collections.size > 0 %}
      <span class="collections">
        {% for i in collections %}
          {% if collection.url == i.url %} 
            {% assign klass = "collection active" %}
          {% else %}
            {% assign klass = "collection" %}
          {% endif %}
          <a href="{{ i.url }}" title="{{ i.title | upcase }}" class="{% if forloop.last %} last {% endif %} {{ klass }}">{{ i.title }}</a>
        {% endfor %}
      </span>
    {% endif %}    
    
    {% if shop.types.size > 0 %}
    <span class="types"> 
    	{% for product_type in shop.types %}
        {{ product_type | link_to_type  }}          
      {% endfor %}
    </span>    
    {% endif %}
    
    {% if shop.vendors.size > 0 %}
    <span class="vendors">
      {% for product_vendor in shop.vendors %}
        {{ product_vendor | link_to_vendor  }}      
      {% endfor %}      
    </span>
    {% endif %}
  </div>  
</div>
    
{% else %}

<div id="section" class="products">
  <div id="details">
    <h1>
      {% if settings.locale == "enabled" %}
        {{ settings.locale_cart_title }}
      {% else %}
        Your Shopping Cart
      {% endif %}  
    </h1>
    <div id="articles">           
      <form action="/cart" method="post" id="cartform" name="cartform">          
        {% for item in cart.items %}
          <div id="article" class="block">
            <div id="image">
              <a href="{{ item.product.url | within: collections.all }}">
                <img src="{{ item.product.images.last | product_img_url: 'medium' }}" alt="{{ item.title | escape }}" />
              </a>
            </div>
            <div id="info">
              <a href="{{ item.product.url | within: collections.all }}">
                {{ item.title }} <span>{{ item.price | money }}
              </a>	
            </div>
            <div id="update">
              <input type="text" class="text update quantity" name="updates[]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();" />
              <input type="hidden" name="id" value="{{ item.variant.id }}" />
              {% if settings.locale == "enabled" %}
                {% assign u = settings.locale_cart_update %}
              {% else %}
                {% assign u = "Update" %}
              {% endif %}  
              <input type="submit" class="button update" name="update" value="{{ u }}" id="update-cart" />
            </div>
            <div id="lineprice">
              {{ item.line_price | money }}
            </div>
            <div id="remove">
              <a class="button" href="/cart/change/{{ item.variant.id }}?quantity=0">
              {% if settings.locale == "enabled" %}
                {{ settings.locale_cart_remove }}
              {% else %}
                Remove
              {% endif %} 
              </a>
            </div>
          </div>
        {% endfor %}
              
        <ul id="checkout" class="inline-list">
          <li id="total">
            <h3>
              {% if settings.locale == "enabled" %}
                {{ settings.locale_cart_total }}
              {% else %}
                TOTAL:
              {% endif %} 
               <span>{{ cart.total_price | money }} {{ shop.currency }}</span>		          
            </h3>
          </li>
          <li id="gotocheckout">		          
            {% if settings.locale == "enabled" %}
              {% assign p = settings.locale_cart_checkout %}
            {% else %}
              {% assign p = "Proceed to checkout" %}
            {% endif %} 
            <input class="button" type="submit" id="getout" name="checkout" value="{{ p }}" />		          
          </li>
        </ul>      	
      </form>
    </div> <!-- articles -->
  </div> <!-- details -->
</div> <!-- section -->
{% endif %}



