{% if collection.products.size == 0 %}

<div id="article" class="col col-1">
  <div id="details">
    {% if settings.snippets == "enabled" %}
      {% include 'collection_empty' %}
    {% else %}
      <h1>No Items Found In This Collection</h1>
      <div id="summary">
        Please try the <strong>search</strong>, browse the <strong>menu</strong> or the <strong>sidebar</strong> links.
      </div>
    {% endif %} 
    
    <div id="search">
      <h3>
      {% if settings.locale == "enabled" %}
        {{ settings.locale_search }}
        {% assign s = settings.locale_search %}
      {% else %}
        Search
        {% assign s = "Search" %}
      {% endif %} 
      </h3>
      <ul class="search block">        
        <li>
          <form action="/search" method="get">
            <input class="text" type="text" name="q" /> 
            <input class="button" type="submit" value="{{ s }}"  />
          </form>
        </li>
      </ul>
    </div>    
  </div>
</div>  

<div id="sidebar" class="col col-2">   
  <div id="navigation" class="collections block">
    {% if collections.size > 0 %}
      <span class="collections">
        {% for i in collections %}
          {% if collection.url == i.url %} 
            {% assign klass = "collection active" %}
          {% else %}
            {% assign klass = "collection" %}
          {% endif %}
          
          <a href="{{ i.url }}" title="{{ i.title | upcase }}" class="{% if forloop.last %} last {% endif %} {{ klass }}">{{ i.title }}</a>
        {% endfor %}
      </span>
    {% endif %}    
    
    {% if shop.types.size > 0 %}
    <span class="types jquery-active"> 
    	{% for product_type in shop.types %}
        {{ product_type | link_to_type  }}          
      {% endfor %}
    </span>    
    {% endif %}
    
    {% if shop.vendors.size > 0 %}
    <span class="vendors jquery-active">
      {% for product_vendor in shop.vendors %}
        {{ product_vendor | link_to_vendor  }}      
      {% endfor %}      
    </span>
    {% endif %}
  </div>  
</div>


{% else %}


<div id="details">   
  <div id="navigation" class="collections block">
    {% unless collection.title == blank %}
      <span class="title">
        {{ collection.title }}
        <span class="tag-title"></span>
        // {{ collection.products_count }} 
        {% if settings.locale == "enabled" %}
          {{ settings.locale_items }}
        {% else %}
          items
        {% endif %}
      </span>
      <!-- Hack: getting the tag title, if any -->
      <div id="current-tags-hidden" class="hidden">
        <ul class="inline-list">
          {% for tag in collection.all_tags %}
            <li>
              {{ tag | highlight_active_tag | link_to_tag: tag }}
            </li>
          {% endfor %}
        </ul>
      </div>   
      <script type="text/javascript">
        var tag =  jQuery("#current-tags-hidden ul").children().find("span").html();
        if (tag) {
          jQuery(".tag-title").append(' // ' + tag);
        }
      </script>
      <!-- end hack -->
    {% endunless %}
    
    {% if collection.description.size > 0 %}
    <span class="description">{{ collection.description }}</span>
    {% endif %}
    
    {% if collections.size > 0 %}
      <span class="collections">
        {% for i in collections %}
          {% if collection.url == i.url %} 
            {% assign klass = "collection active" %}
          {% else %}
            {% assign klass = "collection" %}
          {% endif %}
          <a href="{{ i.url }}" title="{{ i.title | upcase }}" class="{% if forloop.last %} last {% endif %} {{ klass }}">{{ i.title }}</a>
        {% endfor %}
      </span>
    {% endif %}    
    
    {% if shop.types.size > 0 %}
    <span class="types"> 
    	{% for product_type in shop.types %}
    	  {{ product_type | link_to_type  }}
      {% endfor %}
    </span>    
    {% endif %}
    
    {% if shop.vendors.size > 0 %}
    <span class="vendors">
      {% for product_vendor in shop.vendors %}
        {{ product_vendor | link_to_vendor  }}      
      {% endfor %}      
    </span>
    {% endif %}
    
    {% if collection.tags.size > 0 %}
    <span class="tags">
      {% for tag in collection.tags limit : 10 %}
        {{ tag | highlight_active_tag | link_to_tag: tag }}        
      {% endfor %}  
      
      {% if collection.tags.size > 10 %}
        <span class="show-more link">&rarr;</span>
        <span class="hidden">
          {% for tag in collection.tags offset : 11 %}
            {{ tag | highlight_active_tag | link_to_tag: tag }}        
          {% endfor %} 
        </span>
      {% endif %}          
    </span>
    {% endif %}     
  </div> <!-- navigation -->
  
  {% paginate collection.products by 9 %}

  <div id="articles" class="block">
    {% for product in collection.products %}  
      <div id="article" class="thumb c-{{ forloop.index }}">
        <div id="details">
          <div id="summary">                
              {{ product.description | strip_html | truncatewords: 50 }}
          </div>
          <div id="figcaption">
            <div id="title">
              <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
              <h3>{{ product.title | escape }}</h3></a>
            </div>
            <div id="price">
              {% if settings.locale == "enabled" %}
                {% assign add = settings.locale_cart_add %}
              {% else %}
                {% assign add = "Add to cart" %}
              {% endif %}
              <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
            </div>
          </div>
          <div id="figure">      
            <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">      
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>
          </div>
        </div> <!-- details -->
      </div> <!-- article --> 
    {% endfor %}
  </div>
  
  {% if paginate.pages > 0 %}
  <div id="paginate" class="">
    {{ paginate | default_pagination }}
  </div>
  {% endif %}	    
  {% endpaginate %}
</div> <!-- details -->

{% endif %}












 





	
