
<div id="details">
  {% paginate collection.products by 9 %}
  {% if collection.products.size == 0 %}
    {% if settings.snippets == "enabled" %}
      {% include 'collection_empty' %}
    {% else %}
      <h1>No Items Found In This Collection</h1>
      <p>Please try the <strong>search</strong>, browse the <strong>menu</strong> or the <strong>sidebar</strong> links.</p> 
    {% endif %}     
    <h3>
    {% if settings.locale == "enabled" %}
      {{ settings.locale_search }}
      {% assign s = settings.locale_search %}
    {% else %}
      Search
      {% assign s = "Search" %}
    {% endif %} 
    </h3>
    <ul class="search">        
      <li>
        <form action="/search" method="get">
          <input class="text" type="text" name="q" /> 
          <input class="button" type="submit" value="{{ s }}"  />
        </form>
      </li>
    </ul>     
  {% endif %}
    
  <div id="navigation" class="block">
    {% unless collection.title == blank %}
      <span id="title">
        {{ collection.title }}
        <span class="tag-title"></span>
        // {{ collection.products_count }} 
        {% if settings.locale == "enabled" %}
          {{ settings.locale_items }}
        {% else %}
          items
        {% endif %}
      </span>
      <!-- Hack: getting the tag title, if any -->
      <div id="current-tags-hidden" class="hidden">
        <ul class="inline-list">
          {% for tag in collection.all_tags %}
            <li>
              {{ tag | highlight_active_tag | link_to_tag: tag }}
            </li>
          {% endfor %}
        </ul>
      </div>   
      <script type="text/javascript">
        var tag =  jQuery("#current-tags-hidden ul").children().find("span").html();
        if (tag) {
          jQuery(".tag-title").append(' // ' + tag);
        }
      </script>
      <!-- end hack -->
    {% endunless %}
    
    {% if collection.description.size > 0 %}
    <span id="description">{{ collection.description }}</span>
    {% endif %}
    
    {% if collections.size > 0 %}
      {% for i in collections %}
        {% if collection.url == i.url %} 
          {% assign klass = "collection active" %}
        {% else %}
          {% assign klass = "collection" %}
        {% endif %}
        <a href="{{ i.url }}" title="{{ i.title | upcase }}" class="{{ klass }}">{{ i.title }}</a>
      {% endfor %}
    {% endif %}    
    
    {% if shop.types.size > 0 %}
    <div id="types">     
      <ul class="inline-list">
      	{% for product_type in shop.types %}
          <li>
            {{ product_type | link_to_type  }}
          </li>
        {% endfor %}
      </ul>  
    </div>    
    {% endif %}
    
    {% if shop.vendors.size > 0 %}
    <div id="vendors">
      <ul>
      	{% for product_vendor in shop.vendors %}
          <li {% if collection.url == url_for_vendor %} class="active"{% endif %}>
            {{ product_vendor | link_to_vendor  }}
          </li>
        {% endfor %}
      </ul>      
    </div>
    {% endif %}
    
    {% if collection.tags.size > 0 %}
    <span id="tags">
      {% for tag in collection.tags %}
            {{ tag | highlight_active_tag | link_to_tag: tag }}
        {% endfor %}
      
    </span>
    {% endif %} 
    
  </div> <!-- navigation -->

  <div id="articles" class="block">
    {% for product in collection.products %}  
      <div id="article" class="thumb c-{{ forloop.index }}">
        <div id="details">
          <div id="summary">                
              {{ product.description | truncatewords: 50 }}
          </div>
          <div id="figcaption">
            <div id="title">
              <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
              <h5>{{ product.title | escape }}</h5></a>
            </div>
            <div id="price">
              {% if settings.locale == "enabled" %}
                {% assign add = settings.locale_cart_add %}
              {% else %}
                {% assign add = "Add to cart" %}
              {% endif %}
              <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
            </div>
          </div>
          <div id="figure">            
            <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
          </div>
        </div> <!-- details -->
      </div> <!-- article --> 
    {% endfor %}
  </div>
  
  {% if paginate.pages > 1 %}
  <div id="paginate" class="right alignright">
    {{ paginate | default_pagination }}
  </div>
  {% endif %}	    
  {% endpaginate %}
</div> <!-- details -->
 





	
