{% if settings.frontpage_all != "disabled" %}	
  <div id="title" class="col-1">
    <h1><a href="{{ collections.all.url }}" title="View all products in {{ collections.all.title }}">{{ collections.all.title }}</a></h1>
  </div>
{% endif %}

{% if settings.frontpage_frontpage != "disabled" %}	
  <div id="title" class="col-2">
    <h1><a href="{{ collections.frontpage.url }}" title="View all products in {{ collections.frontpage.title }}">{{ collections.frontpage.title }}</a></h1>
  </div>
{% endif %}


{% if settings.frontpage_all != "disabled" %}	
<div id="all" class="section col-1">  
  <div id="details" class="block">        
    {% if collections.all.products.size > 0 %}
    <div id="articles">  
      {% for product in collections.all.products limit : settings.frontpage_all_count %}
        <div id="latest{{ forloop.index }}" class="scroller">
          <div id="article" class="thumb">
            <div id="details">                    
              <div id="figcaption">
                <div id="title">
                  <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  <h3>{{ product.title | escape }}</h3></a>
                </div>
                <div id="price">
                  {% if settings.locale == "enabled" %}
                    {% assign add = settings.locale_cart_add %}
                  {% else %}
                    {% assign add = "Add to cart" %}
                  {% endif %}
                  <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                    {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
                </div>
              </div>
              
              <div id="figure">
                <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
              </div>
              
              <div id="summary">                
                  {{ product.description | strip_html | truncatewords: 30 }}
              </div>  
                           
            </div> <!-- details -->
          </div> <!-- article --> 
        </div>
      {% endfor %}
    </div> <!-- articles -->    
    {% else %}
      <div class="notice">        
        To see here a list of featured products please <a href="/admin/custom_collections/new">create a new collection</a>
        and name it's handle to <strong>all</strong> then add products to it.
      </div>
    {% endif %}
  </div> 
</div> 
{% endif %}


{% if settings.frontpage_frontpage != "disabled" %}	
<div id="frontpage" class="section col-2">  
  <div id="details" class="block">        
    {% if collections.frontpage.products.size > 0 %}
    <div id="articles">  
      {% for product in collections.frontpage.products limit : settings.frontpage_frontpage_count %}
        <div id="featured{{ forloop.index }}" class="scroller">
          <div id="article" class="thumb">
            <div id="details">                    
              <div id="figcaption">
                <div id="title">
                  <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  <h3>{{ product.title | escape }}</h3></a>
                </div>
                <div id="price">
                  {% if settings.locale == "enabled" %}
                    {% assign add = settings.locale_cart_add %}
                  {% else %}
                    {% assign add = "Add to cart" %}
                  {% endif %}
                  <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                    {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
                </div>
              </div>
              
              <div id="figure">
                <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
              </div>
              
              <div id="summary">                
                  {{ product.description | strip_html | truncatewords: 30 }}
              </div>  
                           
            </div> <!-- details -->
          </div> <!-- article --> 
        </div>
      {% endfor %}
    </div> <!-- articles -->
    {% else %}
      <div class="notice">        
        To see here a list of featured products please <a href="/admin/custom_collections/new">create a new collection</a>
        and name it's handle to <strong>frontpage</strong> then add products to it.
      </div>
    {% endif %}
  </div> 
</div> 
{% endif %}

{% if settings.frontpage_all != "disabled" %}	
<div id="navigation" class="col-1">  
  <ul class="inline-list">
  {% for product in collections.all.products limit : settings.frontpage_all_count %}
    <li><a href="#latest{{ forloop.index }}">&bull;</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% if settings.frontpage_frontpage != "disabled" %}	
<div id="navigation" class="col-2">
  <ul class="inline-list">
  {% for product in collections.frontpage.products limit : settings.frontpage_frontpage_count %}
    <li><a href="#featured{{ forloop.index }}">&bull;</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}




{% if settings.frontpage_sale != "disabled" %}	
<div id="sale" class="section col-1">
  <div id="details">
    <h1>{{ collections.sale.title }}</h1>
    {% if collections.sale.products.size > 0 %}
    <div id="articles">
      {% for product in collections.sale.products limit : settings.frontpage_sale_count %}
        <div id="article" class="thumb">
          <div id="details">
            <div id="figcaption">
              <div id="title">
                <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                <h3>{{ product.title | escape }}</h3></a>
              </div>
              <div id="price">
                {% if settings.locale == "enabled" %}
                  {% assign add = settings.locale_cart_add %}
                {% else %}
                  {% assign add = "Add to cart" %}
                {% endif %}
                <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
              </div>
            </div>
            <div id="figure">
              <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
            </div>
            <div id="summary">                
                {{ product.description | truncatewords: 40 }}
            </div>
          </div> <!-- details -->
        </div> <!-- article --> 
      {% endfor %}
    </div> <!-- articles -->
    {% else %}
      <div class="notice">        
        To see here a list of featured products please <a href="/admin/custom_collections/new">create a new collection</a>
        and name it's handle to <strong>sale</strong> then add products to it.
      </div>
    {% endif %}
  </div> 
</div> 
{% endif %}


{% assign article = pages.frontpage %}
<div id="frontpage-article" class="section col-2">
  <div id="details">    
    <h1>
        <a href="{{ article.url }}" title="{{ article.title }}"> {{ article.title | escape }} </a>
    </h1>
    <div id="summary" class="text">                
       {{ article.excerpt }}
    </div>
    <div id="read-more">
      <a href="{{ article.url }}" title="{{ article.title }}">
        {% if settings.locale == "enabled" %}
          {{ settings.locale_read_more }} &rarr;
        {% else %}
          Read more &rarr;
        {% endif %}
      </a>
    </div>
  </div>
</div> 


<div id="navigation" class="section col-1">
  <div id="details">
{% if collections.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_allcollections }}
  {% else %}
    All collections
  {% endif %}
  </h3>
  <ul>
	  {% for i in collections %}      	    
		  <li {% if collection.url == i.url %} class="active"{% endif %}>
		    <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title }}</a>
		  </li>
		{% endfor %}
	</ul>
{% endif %}    
        
{% if shop.types.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_alltypes }}
  {% else %}
    All product types
  {% endif %}          
  </h3>        
  <ul>
  	{% for product_type in shop.types %}
      <li>
        {{ product_type | link_to_type  }}
      </li>
    {% endfor %}
	</ul>      
{% endif %}

{% if shop.vendors.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_allvendors }}
  {% else %}
    All vendors
  {% endif %}
  </h3>
  <ul>
  	{% for product_vendor in shop.vendors %}
      <li {% if collection.url == url_for_vendor %} class="active"{% endif %}>
        {{ product_vendor | link_to_vendor  }}
      </li>
    {% endfor %}
  </ul>      
{% endif %}

{% if collection.all_tags.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_coll_tags }}
  {% else %}
    Tags
  {% endif %}
   <em>{{ collection.title }}</em>
  </h3>
  <ul class="inline-list">
    {% for tag in collection.all_tags %}
      <li>
        {{ tag | highlight_active_tag | link_to_tag: tag }}
      </li>
    {% endfor %}
  </ul>      
{% endif %} 

  </div>
</div>


