<div id="top"></div>
<div id="navigation" class="mobile">
  <ul class="inline-list">
    {% if settings.frontpage_all != "disabled" %}
      <li><a href="#all">{{ collections.all.title }}</a></li>
    {% endif %}
    {% if settings.frontpage_frontpage != "disabled" %}
      <li><a href="#frontpage">{{ collections.frontpage.title }}</a></li>
    {% endif %}
    {% if settings.frontpage_sale != "disabled" %}
      <li><a href="#sale">{{ collections.sale.title }}</a></li>
    {% endif %}
    {% if settings.frontpage_info != "disabled" %}
      <li><a href="#info">{{ linklists.info.title }}</a></li>
    {% endif %}
    {% if settings.frontpage_collections != "disabled" %}
      <li><a href="#collections">Collections</a></li>
    {% endif %}
    {% if settings.frontpage_vendors != "disabled" %}
      <li><a href="#vendors">Vendors & Types</a></li>
    {% endif %}
  </ul>
</div>

{% if settings.frontpage_all != "disabled" %}	
<div id="all" class="section col-1">  
  <div id="title" class="block">
    <h1><a href="{{ collections.all.url }}" title="View all products in {{ collections.all.title }}">{{ collections.all.title }}</a></h1>
  </div>
  <div id="details" class="block">        
    {% if collections.all.products.size > 0 %}
    <div id="articles">  
      {% for product in collections.all.products limit : settings.frontpage_all_count %}
        <div id="latest{{ forloop.index }}" class="scroller">
          <div id="article" class="thumb">
            <div id="details">                    
              <div id="figcaption">
                <div id="title">
                  <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  <h3>{{ product.title | escape }}</h3></a>
                </div>
                <div id="price">
                  {% if settings.locale == "enabled" %}
                    {% assign add = settings.locale_cart_add %}
                  {% else %}
                    {% assign add = "Add to cart" %}
                  {% endif %}
                  <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                    {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
                </div>
              </div>
              
              <div id="figure">
                <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
              </div>
              
              <div id="summary">                
                  {{ product.description | strip_html | truncatewords: 30 }}
              </div>  
                           
            </div> <!-- details -->
          </div> <!-- article --> 
        </div>
      {% endfor %}
    </div> <!-- articles -->    
    {% else %}
      <div class="notice">        
        To see here the latest products please <a href="/admin/custom_collections/new">create a new collection</a>
        and name it's handle to <strong>all</strong> then add products to it.
      </div>
    {% endif %}
  </div> 
  <div id="navigation" class="desktop block">  
    <ul class="inline-list">
    {% for product in collections.all.products limit : settings.frontpage_all_count %}
      <li><a href="#latest{{ forloop.index }}">&bull;</a></li>
    {% endfor %}
    </ul>
  </div>
  <div id="navigation" class="mobile">
    <a href="#top">[top]</a>
  </div>
</div> 
{% endif %}


{% if settings.frontpage_frontpage != "disabled" %}	
<div id="frontpage" class="section col-2">  
  <div id="title" class="block">
    <h1><a href="{{ collections.frontpage.url }}" title="View all products in {{ collections.frontpage.title }}">{{ collections.frontpage.title }}</a></h1>
  </div>
  <div id="details" class="block">        
    {% if collections.frontpage.products.size > 0 %}
    <div id="articles">  
      {% for product in collections.frontpage.products limit : settings.frontpage_frontpage_count %}
        <div id="featured{{ forloop.index }}" class="scroller">
          <div id="article" class="thumb">
            <div id="details">                    
              <div id="figcaption">
                <div id="title">
                  <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  <h3>{{ product.title | escape }}</h3></a>
                </div>
                <div id="price">
                  {% if settings.locale == "enabled" %}
                    {% assign add = settings.locale_cart_add %}
                  {% else %}
                    {% assign add = "Add to cart" %}
                  {% endif %}
                  <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                    {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
                </div>
              </div>
              
              <div id="figure">
                <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
              </div>
              
              <div id="summary">                
                  {{ product.description | strip_html | truncatewords: 30 }}
              </div>  
                           
            </div> <!-- details -->
          </div> <!-- article --> 
        </div>
      {% endfor %}
    </div> <!-- articles -->
    {% else %}
      <div class="notice">        
        To see here a list of featured products please <a href="/admin/custom_collections/new">create a new collection</a>
        and name it's handle to <strong>frontpage</strong> then add products to it.
      </div>
    {% endif %}
  </div> 
  <div id="navigation" class="desktop block">
    <ul class="inline-list">
    {% for product in collections.frontpage.products limit : settings.frontpage_frontpage_count %}
      <li><a href="#featured{{ forloop.index }}">&bull;</a></li>
    {% endfor %}
    </ul>
  </div>
  <div id="navigation" class="mobile">
    <a href="#top">[top]</a>
  </div>
</div>
{% endif %}


{% if settings.frontpage_sale != "disabled" %}	
<div id="sale" class="section col-1"> 
  <div id="title" class="block">
    <h1><a href="{{ collections.sale.url }}" title="View all products in {{ collections.sale.title }}">{{ collections.sale.title }}</a></h1>
  </div> 
  <div id="details" class="block">        
    {% if collections.sale.products.size > 0 %}
    <div id="articles">  
      {% for product in collections.sale.products limit : settings.frontpage_sale_count %}
        <div id="sale{{ forloop.index }}" class="scroller">
          <div id="article" class="thumb">
            <div id="details">                    
              <div id="figcaption">
                <div id="title">
                  <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  <h3>{{ product.title | escape }}</h3></a>
                </div>
                <div id="price">
                  {% if settings.locale == "enabled" %}
                    {% assign add = settings.locale_cart_add %}
                  {% else %}
                    {% assign add = "Add to cart" %}
                  {% endif %}
                  <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                    {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
                </div>
              </div>
              
              <div id="figure">
                <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
              </div>
              
              <div id="summary">                
                  {{ product.description | strip_html | truncatewords: 30 }}
              </div>  
                           
            </div> <!-- details -->
          </div> <!-- article --> 
        </div>
      {% endfor %}
    </div> <!-- articles -->    
    {% else %}
      <div class="notice">        
        To see here a list of products on sale please <a href="/admin/custom_collections/new">create a new collection</a>
        and name it's handle to <strong>sale</strong> then add products to it.
      </div>
    {% endif %}
  </div> 
  <div id="navigation" class="desktop block">  
    <ul class="inline-list">
    {% for product in collections.sale.products limit : settings.frontpage_sale_count %}
      <li><a href="#sale{{ forloop.index }}">&bull;</a></li>
    {% endfor %}
    </ul>
  </div>
  <div id="navigation" class="mobile">
    <a href="#top">[top]</a>
  </div>
</div> 
{% endif %}


{% if settings.frontpage_info != "disabled" %}	
<div id="info" class="section col-2"> 
  <div id="title" class="block">
    <h1>{{ linklists.info.title }}</h1>
  </div> 
  <div id="details" class="block">        
    {% if linklists.info.size > 0 %}
    <div id="articles">  
      {% for product in linklists.info.links limit : settings.frontpage_info_count %}
        <div id="info{{ forloop.index }}" class="scroller">
          <div id="article" class="post">
            <div id="details">                                  
              <a href="{{ product.url }}" title="{{ product.title | escape }}">
                <h3>{{ product.title | escape }}</h3>
              </a> 
              <div id="summary">                
                link article here ...
              </div>
              <div id="read-more">
              </div>             
            </div> <!-- details -->
          </div> <!-- article --> 
        </div>
      {% endfor %}
    </div> <!-- articles -->
    {% else %}
      <div class="notice">        
        To see here a list of pages with info about your store please <a href="/admin/links/new">create a new linklist</a>
        and name it's handle to <strong>info</strong> then add pages to it.
      </div>
    {% endif %}
  </div> 
  <div id="navigation" class="desktop block">
    <ul class="inline-list">
    {% for product in linklists.info.links limit : settings.frontpage_info_count %}
      <li><a href="#info{{ forloop.index }}">&bull;</a></li>
    {% endfor %}
      <li><a href="">&bull;</a></li>
    </ul>
  </div>
  <div id="navigation" class="mobile">
    <a href="#top">[top]</a>
  </div>
</div> 
{% endif %}




{% if settings.frontpage_collections != "disabled" %}	
<div id="collections" class="section col-1"> 
  <div id="title" class="block">
    <h1>Collections</h1>
  </div> 
  <div id="details" class="block">        
    {% if collections.size > 0 %}
    <div id="articles">  
      {% for collection in collections limit : settings.frontpage_collections_count %}
        <div id="collection{{ forloop.index }}" class="scroller">
          {% if collection.products.size > 0 %}
            {% for product in collection.products limit : 1 %}
              <div id="article" class="thumb">
                <div id="details">                    
                  <div id="figcaption">
                    <div id="title">
                      <a href="{{ collection.url }}" title="{{ collection.title | escape }}">
                      <h3>{{ collection.title | escape }}</h3></a>
                    </div> 
                    {% if collection.description != blank %}
                    <div id="description">                
                      {{ collection.description }}
                    </div>  
                    {% endif %}
                  </div>
                  <div id="figure">
                    <a href="{{ collection.url }}" title="{{ collection.title | escape }}">
                      <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
                  </div>
                               
                </div> <!-- details -->
              </div> <!-- article --> 
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div> <!-- articles -->    
    {% else %}
      <div class="notice">        
        &nbsp;
      </div>
    {% endif %}
  </div> 
  <div id="navigation" class="desktop block">  
    <ul class="inline-list">
    {% for collection in collections limit : settings.frontpage_collection_count %}
      <li><a href="#collection{{ forloop.index }}">&bull;</a></li>
    {% endfor %}
    </ul>
  </div>
  <div id="navigation" class="mobile">
    <a href="#top">[top]</a>
  </div>
</div> 
{% endif %}


{% if settings.frontpage_vendors != "disabled" %}	
<div id="vendors" class="section col-2"> 
  <div id="title" class="block">
    <h1>Vendors & Types</h1>
  </div> 
  <div id="details" class="block">            
    <div id="articles">  
      {% if shop.vendors.size > 0 %}
        <div id="vendor1" class="scroller">
          <ul>
            {% for vendor in shop.vendors  %}
              <li>{{ vendor | link_to_vendor }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if shop.types.size > 0 %}
        <div id="vendor2" class="scroller">
          <ul>
            {% for type in shop.types  %}
              <li>{{ type | link_to_type }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}      
    </div> <!-- articles -->    
  </div> 
  <div id="navigation" class="desktop col-2">
    <ul class="inline-list">
    {% if shop.vendors.size > 0 %}  
      <li><a href="#vendor1">&bull;</a></li>  
    {% endif %}
    {% if shop.types.size > 0 %}  
      <li><a href="#vendor2">&bull;</a></li>  
    {% endif %}
    </ul>
  </div>
  <div id="navigation" class="mobile">
    <a href="#top">[top]</a>
  </div>
</div> 
{% endif %}


