<div id="article"  class="col col-1">
  <div id="details">
    <div id="title">
      <h1>
        <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
          {{ product.title | escape }} by {{ product.vendor }} <span>{{ product.price | money }}</span></a>
      </h1>
    </div>
    
    <div id="figure">
	    <img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title | escape }}" />
    </div> 
    
    {% if product.images.size > 1%}
    <div id="thumbs">	          	               
      <ul class="inline-list">
      {% for image in product.images %}
        <li>
          <img class="link" src="{{ image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" rev="{{ image | product_img_url: 'grande' }}" />
        </li>        
      {% endfor %}
      </ul>	                
    </div>
    {% endif %} 
    
    <div id="summary">
      {{ product.description }}
    </div> 
  </div>  
</div> 
	

<div id="sidebar" class="col col-2">
  <div id="aside">
    <div id="shopping">
      <form action="/cart/add" method="post" name="cartadd">
        {% if product.available %}
    			<div id="variations">	
            <select id="variant-select" name='id'>
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {% else %}
                  <option value="{{ variant.id }}" disabled="disabled">{{ variant.title }} - 
                  {% if settings.locale == "enabled" %}
                    {{ settings.locale_soldout }}
                  {% else %}
                    SOLD OUT
                  {% endif %}
                  </option>
        				{% endif %}
              {% endfor %}
            </select>
    			</div>      			

    			<span id="price-field"></span>
          {% if settings.locale == "enabled" %}
            <input class="button" type="submit" name="add" value="{{ settings.locale_cart_add }}" id="add-cart">
          {% else %}
            <input class="button" type="submit" name="add" value="Add to cart" id="add-cart">
          {% endif %}
    			
        {% else %}
          <h3>
          {% if settings.locale == "enabled" %}
            {{ settings.locale_unavailable }}
          {% else %}
            TEMPORARILY UNAVAILABLE
          {% endif %}
          </h3>
        {% endif %}
      </form>
    </div>
    <div class="clear"></div>
    
    {% include '_share' %}
    
    <ul id="more">  
      <li>
        {% if product.collections.size > 0 %}
          {% if settings.locale == "enabled" %}
            {{ settings.locale_listedin }}
          {% else %}
            This product is listed in
          {% endif %}              
      	  {% for i in product.collections %}      	    
      		  <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title }}</a>{% unless forloop.last %}, {% endunless %}
      		{% endfor %}	      
        {% endif %} 
        . 
        {% if settings.locale == "enabled" %}
          {{ settings.locale_seemore }}
        {% else %}
          See more products from 
        {% endif %} 
        {{ product.vendor | link_to_vendor }} 
        
        {% if settings.locale == "enabled" %}
          {{ settings.locale_and }}
        {% else %}
          and 
        {% endif %}      
        {{ product.type | link_to_type }}
      </li>      
    </ul>   
  </div>      
</div>



<script type="text/javascript">
<!--
  // mootools callback for multi variants dropdown selector
  var selectCallback = function(variant, selector) {
    if (variant && variant.available == true) {
      // selected a valid variant
      $('add-cart').removeClass('disabled'); // remove unavailable class from add-to-cart button
      $('add-cart').disabled = false;           // reenable add-to-cart button
      $('price-field').innerHTML = Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}");  // update price field
    } else {
      // variant doesn't exist
      $('add-cart').addClass('disabled');      // set add-to-cart button to unavailable class
      $('add-cart').disabled = true;              // disable add-to-cart button      
      $('price-field').innerHTML = (variant) ? "Sold Out" : "Unavailable"; // update price-field message
    }
  };

  // initialize multi selector for product
  window.addEvent('domready', function() {
    new Shopify.OptionSelectors("variant-select", { product: {{ product | json }}, onVariantSelected: selectCallback }); 
  });
-->
</script>
