<div id="details">

  {% if search.terms == blank %}
  
    {% if settings.locale == "enabled" %}
      {% assign s = settings.locale_search %}
    {% else %}
      {% assign s = "Search" %}
    {% endif %} 
    <div id="search" class="notfound">        
      <form action="/search" method="get">
        <input class="text" type="text" name="q" /> 
        <input class="button" type="submit" value="{{ s }}"  />
      </form>
    </div>  
      
  {% else %}

    <div id="navigation" class="collections block">    
      <span class="title">
        {% if settings.locale == "enabled" %}
          {{ settings.locale_search_title }}
        {% else %}
          Search results for:
        {% endif %}
         {{ search.terms }}
      </span>      
          
      {% if collections.size > 0 %}
        <span class="collections">
          {% for i in collections %}
            {% if collection.url == i.url %} 
              {% assign klass = "collection active" %}
            {% else %}
              {% assign klass = "collection" %}
            {% endif %}
            <a href="{{ i.url }}" title="{{ i.title | upcase }}" class="{% if forloop.last %} last {% endif %} {{ klass }}">{{ i.title }}</a>
          {% endfor %}
        </span>
      {% endif %}    
      
      {% if shop.types.size > 0 %}
      <span class="types"> 
      	{% for product_type in shop.types %}
      	  <!--
      	  
      	  Cannot get the current url in Shopify, collection.url doesn't works with types and vendors
      	  
      	  {% capture url %}{{ product_type | url_for_type  }}{% endcapture %}
      	  {% if collection.url == url %} 
            {% assign klass = "active" %}
          {% else %}
            {% assign klass = "" %}
          {% endif %}
          <a href="{{ url }}" title="{{ product_type }}" class="{{ klass }}">{{ product_type}}</a>          
          -->
          {{ product_type | link_to_type  }}
        {% endfor %}
      </span>    
      {% endif %}
      
      {% if shop.vendors.size > 0 %}
      <span class="vendors">
        {% for product_vendor in shop.vendors %}
          {{ product_vendor | link_to_vendor  }}      
        {% endfor %}      
      </span>
      {% endif %}
      
      {% if collection.tags.size > 0 %}
      <span class="tags">
        {% for tag in collection.tags %}
            {{ tag | highlight_active_tag | link_to_tag: tag }}
        {% endfor %}      
      </span>
      {% endif %}     
    </div> <!-- navigation --> 
  
  
    {% if search.results.size == 0 %}
      
      {% if settings.snippets == "enabled" %}
        {% include 'search_not_found' %}
      {% else %}
        <h1>We did not found any products for you.</h1>        
      {% endif %}
        
      
      {% if settings.locale == "enabled" %}
        {{ settings.locale_search }}
        {% assign s = settings.locale_search %}
      {% else %}
        {% assign s = "Search again" %}
      {% endif %} 
      <ul class="search">        
        <li>
          <form action="/search" method="get">
            <input class="text" type="text" name="q" /> 
            <input class="button" type="submit" value="{{ s }}"  />
          </form>
        </li>
      </ul>   
    
    {% else %}
  
      {% paginate search.results by 9 %}
      <div id="articles" class="block">
        {% for item in search.results %}
          {% if item.featured_image %}  
            {% assign product = item %}    
            <div id="article" class="thumb c-{{ forloop.index }}">
              <div id="details">
                <div id="summary">                
                    {{ product.description | strip_html | truncatewords: 50 }}
                </div>
                <div id="figcaption">
                  <div id="title">
                    <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                    <h3>{{ product.title | escape }}</h3></a>
                  </div>
                  <div id="price">
                    {% if settings.locale == "enabled" %}
                      {% assign add = settings.locale_cart_add %}
                    {% else %}
                      {% assign add = "Add to cart" %}
                    {% endif %}
                    <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                      {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
                  </div>
                </div>
                <div id="figure">      
                  <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">      
                    <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>
                </div>
              </div> <!-- details -->
            </div> <!-- article --> 
          {% else %}
            <div id="article" class="page c-{{ forloop.index }}">
              <div id="details">
                <div id="figcaption">
                  <div id="title">
                    <a href="{{ item.url | within: collections.all }}" title="{{ item.title | escape }}">
                      <h3>{{ item.title | escape }}</h3></a>
                  </div>
                </div>
                <div id="summary" class="text">
                  {{ item.content | strip_html | truncatewords: 60 }}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      
      {% if paginate.pages > 1 %}
      <div id="paginate" class="">
        {{ paginate | default_pagination }}
      </div>
      {% endif %}	    
      {% endpaginate %}
    {% endif %}
  {% endif %}
</div> <!-- details -->




