<div id="info" class="block">
  <div class="container">    
    <div id="content" class="text col-1 left">
      <div class="box">
        {% if settings.snippets == "enabled" %}
          {% include 'page_not_found' %}        
        {% else %}
          <h2>Page Not Found</h2>
          <p>The page you are looking for is not found.</p>
          <p>Either the page address was wrong, or, the page itself was moved / removed by the site administrator.</p>
          <p>Please try the <strong>search</strong>, browse the <strong>menu</strong> or the <strong>sidebar</strong> links.</p> 
        {% endif %} 
        <br/>
        {% if settings.locale == "enabled" %}
          {{ settings.locale_search }}
          {% assign s = settings.locale_search %}
        {% else %}
          {% assign s = "Search" %}
        {% endif %} 
        <div id="search" class="notfound">        
          <form action="/search" method="get">
	          <input class="text" type="text" name="q" /> 
	          <input class="button" type="submit" value="{{ s }}"  />
          </form>
        </div>             
      </div>
    </div>

    <div id="sidebar" class="right col-2">      
      <div class="accordion box">        
        {% if collections.size > 0 %}
          <h4 class="first">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_allcollections }}
          {% else %}
            All collections
          {% endif %}
          </h4>
          <div class="pane">        
            <ul class="list">
          	  {% for i in collections %}      	    
          		  <li {% if collection.url == i.url %} class="active"{% endif %}>
          		    <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title }}</a>
          		  </li>
          		{% endfor %}
          	</ul>
          </div> 
        {% endif %}           
      
        {% if shop.vendors.size > 0 %}
          <h4>
          {% if settings.locale == "enabled" %}
            {{ settings.locale_allvendors }}
          {% else %}
            All vendors
          {% endif %}
          </h3>
          <div class="pane">   
            <ul class="list">
            	{% for product_vendor in shop.vendors %}
                <li>
                  {{ product_vendor | link_to_vendor  }}
                </li>
              {% endfor %}
            	</ul>
          </div>
        {% endif %}
        
        {% if shop.types.size > 0 %}
          <h4>
          {% if settings.locale == "enabled" %}
            {{ settings.locale_alltypes }}
          {% else %}
            All product types
          {% endif %}          
          </h4>
          <div class="pane">   
            <ul class="list">
            	{% for product_type in shop.types %}
                <li>
                  {{ product_type | link_to_type  }}
                </li>
              {% endfor %}
            	</ul>
          </div>
        {% endif %}
        
        <h4>
        {% if settings.locale == "enabled" %}
          {{ settings.locale_search }}
          {% assign s = settings.locale_search %}
        {% else %}
          Search
          {% assign s = "Search" %}
        {% endif %} 
        </h4>
        <div id="search" class="pane">        
		      <form action="/search" method="get">
			      <input class="text" type="text" name="q" /> 
			      <input class="button" type="submit" value="{{ s }}"  />
		      </form>
        </div>
      </div>      
    </div>	  	
    
  </div>
</div>
