<div id="info" class="block">
  <div class="container">    
    <div id="contents" class="col-1 left">
      <h2>Page Not Found</h2>
      <p>The page you are looking for is not found.</p>
      <p>Either the page address was wrong, or, the page itself was moved / removed by the site administrator.</p>
      <p>Please try the <strong>search</strong>, browse the <strong>menu</strong> or the <strong>sidebar</strong> links.</p>
    </div>

    <div id="taxonomies" class="right col-2">      
      <div class="accordion">        
        {% if collections.size > 0 %}
          <h3 class="first">All collections</h3>
          <div class="pane">        
            <ul class="list">
          	  {% for i in collections %}      	    
          		  <li {% if collection.url == i.url %} class="active"{% endif %}>
          		    <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title | upcase }}</a>
          		  </li>
          		{% endfor %}
          	</ul>
          </div> 
        {% endif %}           
      
        {% if shop.vendors.size > 0 %}
          <h3>All vendors</h3>
          <div class="pane">   
            <ul class="list">
            	{% for product_vendor in shop.vendors %}
                <li>
                  {{ product_vendor | link_to_vendor  }}
                </li>
              {% endfor %}
            	</ul>
          </div>
        {% endif %}
        
        {% if shop.types.size > 0 %}
          <h3>All product types</h3>
          <div class="pane">   
            <ul class="list">
            	{% for product_type in shop.types %}
                <li>
                  {{ product_type | link_to_type  }}
                </li>
              {% endfor %}
            	</ul>
          </div>
        {% endif %}
        
        <h3>Search</h3>
        <div id="search" class="pane">        
		      <form action="/search" method="get">
			      <input class="text" type="text" name="q" /> 
			      <input class="link button greenb rounded" type="submit" value="Go"  />
		      </form>
        </div>
      </div>      
    </div>	  	
    
  </div>
</div>
