<div id="info" class="block">
  <div class="container">
    <h1><a href="{{ article.url }}" title="Permanent link to {{ article.title }}">{{ article.title }}</a></h1>  
    
    <div id="content" class="col-1 left">
      <div class="meta">
		    By {{ article.author }} on {{ article.created_at | date: "%B %d, %Y" }}
		    {% if blog.comments_enabled? %}
          &mdash; 
          <a href="{{article.url}}#comments">{{ article.comments.size }} comments</a>
        {% endif %}
		  </div>
      
      <div class="body">    
        {{ article.content | strip_html }}
      </div>
      
      {% if blog.comments_enabled? %}
      <div class="comments">
        <h3>Comments ({{ article.comments.size }})</h3>
        {% if article.comments.size > 0 %}
        <ul id="comments" class="list">
          {% for comment in article.comments %}
            <li>              
              <blockquote>&ldquo;{{ comment.content | strip_html  }}&rdquo;</blockquote>                              
              <span class="date"># By {{ comment.author }} on {{ comment.created_at | date: "%B %d, %Y" }}</span>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
        
        <!-- Comment Form -->
        {% form article %}    
        
        <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
        {% if form.posted_successfully? %}
          {% if blog.moderated? %}
            <div class="notice">
              Successfully posted your comment.<br />
              It will have to be approved by the blog owner first before showing up.
            </div>
          {% else %}
            <div class="notice">Successfully posted your comment.</div>
          {% endif %}
        {% endif %}    
        {% if form.errors %}
          <div class="notice error">Not all the fields have been filled out correctly!</div>
        {% endif %}
        
        <h3>Leave a comment</h3>
        
        <dl>
          <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">Your name</label></dt>
          <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="{% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

          <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">Your email</label></dt>
          <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="{% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

          <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">Your comment</label></dt>
          <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
          
          <dt>&nbsp;</dt>
          <dd><input class="button" type="submit" value="Post comment" /></dd>     
          
          {% if blog.moderated? %}  
          <dt>&nbsp;</dt>
          <dd class="comment-meta">Comments have to be approved before showing up</dd>      
          {% endif %}
        </dl>
        
        {% endform %}
      </div>
      {% endif %}
    </div>
    
    <div class="right col-2">           
      <div class="box block">
        <div class="accordion">
          <h3 class="first">Latest blog posts</h3>
          <div class="pane">
            <ul class="list">
              {% for article in blog.articles limt: 3%}
                <li>
                    <a href="{{ article.url }}" title="{{ article.title }}">
                      {{ article.title }}
                      <span class="date"># {{ article.created_at | date: "%B %d, %Y" }}</span>
                    </a>
                  </li>
                {% endfor %}
            </ul>
          </div>
          
          <h3>Recent comments</h3>
          <div class="pane">
            <ul id="comments" class="list">
              {% for article in blog.articles limt: 3%}		   
                {% for comment in article.comments limit: 2 %}
                  <li>
                    <a href="{{ comment.url }}" title="Comment on {{ article.title }}">
                      <blockquote>&ldquo;{{ comment.content | strip_html | truncate: 250 }}&rdquo;</blockquote>                
                    </a>
                    <span class="date"># {{ comment.author }}</span>
                  </li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
          
          {% if collections.size > 0 %}
            <h3>Product collections</h3>
            <div class="pane">        
              <ul class="list">
            	  {% for i in collections %}      	    
            		  <li {% if collection.url == i.url %} class="active"{% endif %}>
            		    <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title | upcase }}</a>
            		  </li>
            		{% endfor %}
            	</ul>
            </div> 
          {% endif %}  
          
          <h3>Search</h3>
          <div id="search" class="pane">        
		        <form action="/search" method="get">
			        <input class="text" type="text" name="q" /> 
			        <input class="link button greenb rounded" type="submit" value="Go"  />
		        </form>
          </div>
          
          <h3>Share</h3>
          <div id="share" class="pane">
            <div id="icons">	    
	            <ul class="inline-list">
                <li class="twitter">
                  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="metamn">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>          
                </li>
                <li class="facebook">
                  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like layout="button_count" show_faces="true" width="150"></fb:like>              
                </li>
              </ul>
	           </div>
          </div>
        
        </div>
      </div>
    </div>   
    
      
  </div>   
</div>
