<div id="info" class="block">
  <div class="container">    
    <div id="content" class="col-1 left">
      <h1>{{ blog.title }}</h1>
      {% if blog.articles.size > 0 %}
        {% paginate blog.articles by 10 %}        
	        <div id="articles">
	          {% for article in blog.articles %}
		          <div id="article">
		            <h4 class="title">
		              <a href="{{ article.url }}" title="{{ article.title }}">
		                {{ article.title }}
		                <span class="date"> # {{ article.created_at | date: "%B %d, %Y" }}</span>
		              </a>
		            </h4>
		            <div class="excerpt">
		              {{ article.content | truncate: 200 }}
		            </div>
		          </div>
	          {% endfor %}
	        </div>
	
	       	{% if paginate.pages > 1 %}
	          <div id="paginate">
		          {{ paginate | default_pagination }}
	          </div>
	        {% endif %}
	        
	       {% endpaginate %}	       	  
	    {% endif %}
    </div>

    <div class="right col-2">           
      <div id="sidebar" class="block">      
        <div id="share" class="block">
          <div id="icons">	    
	          <ul class="inline-list">
	            <li><a href="">Subscribe</a></li>
	            <li><a href="">Facebook</a></li>
	            <li><a href="">Twitter</a></li>
	          </ul>
	         </div>
        </div>
        
        <div id="latest-posts" class="block">
          <h3>Latest blog posts</h3>
          <ul class="list">
            {% for article in blog.articles limt: 3%}
              <li>
                  <a href="{{ article.url }}" title="{{ article.title }}">
                    {{ article.title }}
                    <span class="date"># {{ article.created_at | date: "%B %d, %Y" }}</span>
                  </a>
                </li>
              {% endfor %}
          </ul>
        </div>
        
        <div id="recent-comments" class="block">
          <h3>Recent comments</h3>
          <ul id="comments" class="list">
            {% for article in blog.articles limt: 3%}		   
              {% for comment in article.comments limit: 2 %}
                <li>
                  <a href="{{ comment.url }}" title="Comment on {{ article.title }}">
                    <blockquote>&ldquo;{{ comment.content | strip_html | truncate: 250 }}&rdquo;</blockquote>                
                  </a>
                  <span class="date"># {{ comment.author }}</span>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
      
      <div id="taxonomies" class="block">      
        <div class="accordion">        
          {% if collections.size > 0 %}
            <h3>All collections</h3>
            <div class="pane">        
              <ul class="list">
            	  {% for i in collections %}      	    
            		  <li {% if collection.url == i.url %} class="active"{% endif %}>
            		    <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title | upcase }}</a>
            		  </li>
            		{% endfor %}
            	</ul>
            </div> 
          {% endif %}     
        
        
          {% if shop.vendors.size > 0 %}
            <h3>All vendors</h3>
            <div class="pane">   
              <ul class="list">
              	{% for product_vendor in shop.vendors %}
                  <li>
                    {{ product_vendor | link_to_vendor  }}
                  </li>
                {% endfor %}
              	</ul>
            </div>
          {% endif %}
          
          {% if shop.types.size > 0 %}
            <h3>All product types</h3>
            <div class="pane">   
              <ul class="list">
              	{% for product_type in shop.types %}
                  <li>
                    {{ product_type | link_to_type  }}
                  </li>
                {% endfor %}
              	</ul>
            </div>
          {% endif %}
          
          <h3>Search</h3>
          <div id="search" class="pane">        
		        <form action="/search" method="get">
			        <input class="text" type="text" name="q" /> 
			        <input class="link button greenb rounded" type="submit" value="Go"  />
		        </form>
          </div>
        </div>      
      </div>	  	
    
  </div>
</div>
    

