<div id="navigation" class="block">
  <div class="container"> 
    <div id="current-collection" class="left col-1">      
      <span class="note tag-title-intro">Current collection</span>
      <h2>
        {{ collection.title }}
        <span class="tag-title"></span>
        // {{ collection.products_count }} items
      </h2>
      
      <!-- Hack: getting the tag title, if any -->
      <div id="current-tags-hidden" class="hidden">
        <h3>{{ collection.title }} tags</h3>
        <ul class="inline-list">
          {% for tag in collection.tags %}
            <li>
              {{ tag | highlight_active_tag | link_to_tag: tag }}
            </li>
          {% endfor %}
        </ul>
      </div>              
      
      <script type="text/javascript">
        var tag =  jQuery("#current-collection #current-tags-hidden ul").children().find("span").html();
        if (tag) {
          jQuery(".tag-title-intro").append(' and tag');
          jQuery(".tag-title").append(' // ' + tag);
        }
      </script>
      <!-- end hack --> 
      
      {% if collection.description %}
        <div id="description" class="block">
          {{ collection.description }}
        </div>
      {% endif %}
      
      <div id="tags" class="block">
        <h3>Tags for <em>{{ collection.title }}</em></h3>
        <ul class="inline-list">
          {% for tag in collection.all_tags %}
            <li>
              {{ tag | highlight_active_tag | link_to_tag: tag }}
            </li>
          {% endfor %}
        </ul>
      </div> 
      
      <h3>Remaining tags</h3> 
      <ul class="inline-list">
          {% for tag in collection.tags %}
            <li>
              {{ tag | highlight_active_tag | link_to_tag: tag }}
            </li>
          {% endfor %}
        </ul>
        
      
      <h3>Product Types</h3>  
      <ul>
        {% for product_type in collection.all_types %}
          <li>
            {{ product_type | link_to_type  }}
          </li>
        {% endfor %}
      </ul>

      <h3>Product Vendors</h3>  
      <ul>
        {% for product_vendor in collection.all_vendors %}
          <li>
            {{ product_vendor | link_to_vendor  }}
          </li>
        {% endfor %}
      </ul>      
    </div>
    
    <div id="taxonomies" class="right col-2">
      <div id="collections" class="block">
        <h3>All collections</h3>
        <ul class="list">
      	  {% for i in collections %}      	    
      		  <li {% if collection.url == i.url %} class="active"{% endif %}>
      		    <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title | upcase }}</a>
      		  </li>
      		{% endfor %}
      	</ul>
      </div>
      
            
      <div id="search" class="block">
        <h3>Search</h3>
		    <form action="/search" method="get">
			    <input class="text" type="text" name="q" /> 
			    <input class="link button greenb rounded" type="submit" value="Go"  />
		    </form>
      </div>
    </div>	  	
  </div>
</div>

<div id="items" class="block">
  <div class="container">
    <div id="latest-top" class="triangle-bottom"></div>
    {% paginate collection.products by 6 %}
    {% if collection.products.size == 0 %}
	    <h3>No products in this collection.</h3>
	  {% else %}
	    {% for product in collection.products %}  
      <div id="item">
        <div class="image">
          <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
            <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
          </a>
        </div>
        <h6 class="title">
          <a href="{{ product.url | within: collections.all }}">{{ product.title }} by {{ product.vendor }}</a>
        </h6>
        <div class="meta">       
          {% if product.compare_at_price_max > product.price %} 
            <span class="price price-sale">{{ product.price | money }}</span>
            &mdash;
            <span class="price price-old">{{ product.compare_at_price_max | money }}</span>
          {% else %}
            <span class="price">{{ product.price | money }}</span>
          {% endif %}
        </div>
		  </div>
      {% endfor %}
	    <div class="clear"></div>
	    
	    {% if paginate.pages > 1 %}
	    <div id="paginate" class="right alignright">
		    {{ paginate | default_pagination }}
	    </div>
	    {% endif %}	  
	  {% endif %}
	  {% endpaginate %}
  </div>
</div>


	
