<div id="intro" class="block">
  <div class="container">
    <div id="content" class="left col-1">
      
      {% assign article = pages.frontpage %}
      
      <div id="strapline" class="block">
        <h1>{{ article.title }}</h1>        
      </div>
      
      <div id="text" class="block">        
        {% if article.content != "" %}      		
      		{{ article.content }}
      	{% else %}
      	  In <em>Admin &gt; Blogs &amp; Pages</em>, create a page with the handle <strong><code>frontpage</code></strong> and it will show up here.<br />
      	  {{ "Learn more about handles" | link_to "http://wiki.shopify.com/Handle" }}
      	{% endif %}
      </div>
    </div>
    
    <div id="featured" class="right col-2">
      <div id="items">
        {% for product in collections.frontpage.products %}
          {% assign klass = 'hidden' %}
          {% if forloop.first %}
            {% assign klass = 'visible' %}
          {% endif %}
          <div id="item" class="{{ klass }} {{ forloop.index }}">
            {% for image in product.images limit: 1 %}
              <a href="{{ product.url | within: collections.all }}" title="">
                <img src="{{ image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" /></a>
            {% endfor %}
            <h6 class="title">
              <a href="{{ product.url | within: collections.all }}" title="">
                {{ product.title }} by {{ product.vendor }}
              </a>
            </h6>
          </div>
      {% endfor %}
      </div>

      <div id="scroller">
        <ul class="inline-list">
        {% for product in collections.frontpage.products %}
          {% assign klass = 'inactive' %}
          {% if forloop.first %}
            {% assign klass = 'active' %}
          {% endif %}
          <li class="link {{ klass }} {{ forloop.index }}" rel="{{ forloop.index }}">&bull;</li>
        {% endfor %}
        </ul>
      </div>    
    </div>
  </div>
</div> 


<div id="latest" class="block">
  <div class="container">
    <div id="latest-top" class="triangle-bottom"></div>
    {% if collections.all.products.size > 0 %}
      <h3><span class="highlight">Hot!</span> in the store now.</h3>
      <div class="arrow-right"></div> 
      {% for product in collections.all.products limit:5 %}
        <div id="item">	    
          <div class="image">	      
            {% for image in product.images limit: 1 %}
              <a href="{{ product.url | within: collections.all }}" title="">	    
                <img src="{{ image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" /></a>
            {% endfor %}
          </div>
          <div class="title">
            <a href="{{ product.url | within: collections.all }}" title="">
              {{ product.title }} by {{ product.vendor }}
            </a>
          </div>
	      </div>
      {% endfor %}  
      <div id="call-for-subscribe" class="alignright right">
        <div class="notice link">
          <p class="note"><a href="#subscribe">To stay updated please subscribe to our newsletter. It's free.</a></p>
        </div>
      </div>
    {% else %}
      <div class="notice">
        To see here the list of the latest products please create a new collection name it's handle <strong>all</strong>
        then add items to it.
      </div>
    {% endif %} 
  </div>
</div> 


 
<div id="sales" class="block">
  <div class="container">
    <div id="sale" class="left col-1">
      <h1>%</h1>
      <div class="arrow-right"></div>
      <div class="notice link">
        <h3 class="note"><a href="#ecosystem">
        We are running periodicaly special sales on Twitter and Facebook. Follow us to get more! </a></h3>
      </div>
    </div>    
    <div id="items" class="right col-2">
      {% if collections.sale.products.size > 0 %} 
        {% for product in collections.sale.products limit: 4 %}  
        <div id="item">
          <div class="image">
            <a href="{{ product.url | within: collections.all }}">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
            </a>
          </div>
          <div class="add-to-cart">
            <img src="{{ 'sales-add-to-cart.png' | asset_url }}"/>
          </div>        
          <h6 class="title">
            <a href="{{ product.url | within: collections.all }}">
              {{ product.title }}            
            </a>
          </h6>
          <div class="meta">       
            {% if product.compare_at_price_max > product.price %} 
              <span class="price price-sale rounded">{{ product.price | money }}</span>
              &mdash;
              <span class="price price-old rounded">{{ product.compare_at_price_max | money }}</span>
            {% else %}
              <span class="price rounded">{{ product.price | money }}</span>
            {% endif %}          
          </div>
		    </div>
        {% endfor %}
      {% else %}
        <div class="notice">
          To see here a list of products on sale please create a new collection and name it's handle <strong>sale</strong> 
          then items to it.
        </div>
      {% endif %}
    </div>
  </div>
</div>   



	


