<div id="intro" class="block">
  <div class="container">    
  													
	  <div id="featured" class="block">
		  <div class="section">
			  <ul>
				  <li class="sub" id="featured0">
				    <div class="col-1 left">
				      {% assign article = pages.frontpage %}
					    <h1>{{ article.title }}</h1>
					    <div class="text">
					      {{ article.content }}
					    </div>
					    <div class="nav left">					      
					      <a href="#featured1" class="next"><div class="triangle-bottom"></div></a>					      
					    </div>
					  </div>
					  <div class="image col-2 left">
					    {% for product in collections.frontpage.products limit: 1%}
					      {% for image in product.images limit: 1 %}
					        <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                    <img src="{{ image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" /></a>
					      {% endfor %}
					    {% endfor %}
					  </div>					  
				  </li>
				  {% for product in collections.frontpage.products %}
				    <li class="sub" id="featured{{ forloop.index }}">
				      <div class="col-1 left">
				        <h1>
				          <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  {{ product.title | escape }} by {{ product.vendor }} <span>{{ product.price | money }} </a>
                </h1>
                <div class="text">
                  {{ product.description | truncate:250 }}
                </div>                
                <div class="nav left">
                  {% assign i = forloop.index0 %}
                  {% assign prev = i - 1 %}
                  {% assign next = i + 1 %}                  
                  {% unless forloop.last %}
                    <a href="#featured{{ next }}" class="next"><div class="triangle-bottom"></div></a>                    
                  {% endunless %}
                  <a href="#featured{{ prev }}" class="prev"><div class="triangle-top"></div></a>                  
                </div>
                <div id="add-to-cart" class="right">
                  <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                  Add to Cart
                  </a>
                </div>
				      </div>
				      <div class="image col-2 left">
					      {% for image in product.images limit: 1 %}
					        <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
                    <img src="{{ image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" /></a>
					      {% endfor %}					    
					    </div>
				    </li>
				  {% endfor %}				  	
			  </ul>
		  </div>		
	  </div>
	         
  </div>
</div> 

{% if settings.frontpage_all != "disabled" %}
<div id="latest" class="block">
  <div class="container">
    <div id="latest-top" class="triangle-bottom"></div>
    {% if collections.all.products.size > 0 %}
      <div class="block">
        <div id="hot" class="left">
          {% if settings.locale == "enabled" %}
            <h4><span class="highlight">{{ settings.locale_hot }}</span> {{ settings.locale_hot_instore }}</h4>
          {% else %}
            <h4><span class="highlight">Hot!</span> in the store now.</h4>          
          {% endif %}       
        </div>
        
        <div id="call-for-subscribe" class="right">
          <p class="note">
            <a href="#subscribe">
            {% if settings.locale == "enabled" %}
              {{ settings.locale_subscribe_email }}
            {% else %}
              To stay updated please subscribe to our newsletter. It's free.
            {% endif %}         
            </a>
          </p>
        </div>
      </div>
      
      {% for product in collections.all.products limit:8 %}
        <div id="item" class="product">	    
          <div class="image block">	      
            {% for image in product.images limit: 1 %}
              <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">	    
                <img src="{{ image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>
            {% endfor %}
          </div>
          <div class="title block">
            <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
              {{ product.title }}
            </a>
          </div>
	      </div>
      {% endfor %}   
      
      <div id="more" class="right alignright">
        <a href="collections/all">See all new products &rarr;</a>
      </div>
           
    {% else %}
      <div class="missing">
        <p class="note">
        To see here the list of the latest products please <a class="underline" href="/admin/custom_collections/new">create a new collection</a>
        and name it's handle to <strong>all</strong> then add products to it.
        </p>
      </div>
    {% endif %} 
  </div>
</div> 
{% endif %}


{% if settings.frontpage_sales != "disabled" %} 
<div id="sales" class="block">
  <div class="container">
    {% if collections.sale.products.size > 0 %} 
      <div id="item" class="product clean">
        <div class="sale">
          {% if settings.locale == "enabled" %}
            <h4>{{ settings.locale_sales }}
          {% else %}
            <h4>Sales!</h4>          
          {% endif %} 
        </div>
        
        <p class="note">
          <a href="#ecosystem">
          {% if settings.locale == "enabled" %}
            {{ settings.locale_subscribe_social }}
          {% else %}
            We are running periodicaly special sales on Twitter and Facebook. Follow us to get more! 
          {% endif %} 
        </a></p> 
      </div>      
      
      {% for product in collections.sale.products limit: 3 %}
        <div id="item" class="product">	    
          <div class="image">	      
            {% for image in product.images limit: 1 %}
              <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">	    
                <img src="{{ image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>
            {% endfor %}
          </div>
          <div class="title">
            <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
              {{ product.title }}              
              <div class="meta small">       
                {% if product.compare_at_price_max > product.price %} 
                  <span class="price price-sale rounded">{{ product.price | money }}</span>
                  &mdash;
                  <span class="price price-old rounded">{{ product.compare_at_price_max | money }}</span>
                {% else %}
                  <span class="price rounded">{{ product.price | money }}</span>
                {% endif %}          
              </div>
            </a>
          </div>
	      </div>
      {% endfor %}
      
      <div id="more" class="right alignright">
        <a href="collections/sale">See all products on sale &rarr;</a>
      </div>
     
    {% else %}
      <div class="missing">
        <p class="note">
          To see here a list of products on sale please <a class="underline" href="/admin/custom_collections/new">create a new collection</a>
          and name it's handle to <strong>sale</strong> then add products to it.
        </p>
      </div>
    {% endif %}    
  </div>
</div>   
{% endif %}


	


