<div id="navigation" class="block">
  <div class="container"> 
    <div id="items" class="left col-1">  
      
      {% if search.terms == blank %}
        {% if settings.locale == "enabled" %}
          {{ settings.locale_search }}
          {% assign s = settings.locale_search %}
        {% else %}
          {% assign s = "Search" %}
        {% endif %} 
        <div id="search" class="notfound">        
          <form action="/search" method="get">
	          <input class="text" type="text" name="q" /> 
	          <input class="button" type="submit" value="{{ s }}"  />
          </form>
        </div>  
      
      {% else %}
      
        {% if search.results.size == 0 %}
          {% if settings.snippets == "enabled" %}
            {% include 'search_not_found' %}        
          {% else %}
            <h2>We did not found any products for you.</h2>
            <p>Please try searching <strong>again</strong>, browse the <strong>menu</strong> or the <strong>sidebar</strong> links.</p> 
          {% endif %} 
          <br/>
          {% if settings.locale == "enabled" %}
            {{ settings.locale_search }}
            {% assign s = settings.locale_search %}
          {% else %}
            {% assign s = "Search" %}
          {% endif %} 
          <div id="search" class="notfound">        
            <form action="/search" method="get">
	            <input class="text" type="text" name="q" /> 
	            <input class="button" type="submit" value="{{ s }}"  />
            </form>
          </div>  
        {% else %}
          {% paginate search.results by 9 %}
          {% for item in search.results %}
          <div id="item" class="product">	    
            <div id="details">
              <div id="figcaption">
                <a href="{{ item.url | within: collections.all }}" title="{{ item.title | escape }}">
                  <div id="title">
                    {{ item.title }}
                  </div>
                  {% if item.featured_image %} 
                    <div id="price">
                      {{ product.price | money }}
                    </div>              
                  {% endif %}
                </a>
              </div>          
              <div id="figure">	  
                {% if item.featured_image %}    
                  <a href="{{ item.url | within: collections.all }}" title="{{ item.title | escape }}">                
                    <img src="{{ item.featured_image | product_img_url: 'medium' }}" alt="{{ item.title | escape }}" />                        
                  </a>            
                {% else %}
                  <div class="text">
                    {{ item.content | truncatewords: 20 }}
                  </div>
                {% endif %}
              </div>
            </div>
	        </div>
          {% endfor %}
          <div class="clear"></div>
          
          {% if paginate.pages > 1 %}
          <div id="paginate" class="right alignright">
            {{ paginate | default_pagination }}
          </div>
          {% endif %}
          {% endpaginate %}	  
        {% endif %}        
      {% endif %}    
    </div>  
  
    <div id="sidebar" class="right col-2">      
      <div class="box">
        <h2>
          {% if settings.locale == "enabled" %}
            {{ settings.locale_search_title }}
          {% else %}
            Search results for:
          {% endif %}
           {{ search.terms }}
        </h2>
      
    
        <div id="taxonomies" class="accordion"> 
          {% if collections.size > 0 %}
            <h4 class="first">
            {% if settings.locale == "enabled" %}
              {{ settings.locale_allcollections }}
            {% else %}
              All collections
            {% endif %}
            </h4>
            <div class="pane">        
              <ul class="list">
            	  {% for i in collections %}      	    
            		  <li {% if collection.url == i.url %} class="active"{% endif %}>
            		    <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title }}</a>
            		  </li>
            		{% endfor %}
            	</ul>
            </div> 
          {% endif %}           
        
                    
          {% if shop.types.size > 0 %}
            <h4>
            {% if settings.locale == "enabled" %}
              {{ settings.locale_alltypes }}
            {% else %}
              All product types
            {% endif %}          
            </h4>
            <div class="pane">   
              <ul class="list">
              	{% for product_type in shop.types %}
                  <li>
                    {{ product_type | link_to_type  }}
                  </li>
                {% endfor %}
              	</ul>
            </div>
          {% endif %}
          
          {% if shop.vendors.size > 0 %}
            <h4>
            {% if settings.locale == "enabled" %}
              {{ settings.locale_allvendors }}
            {% else %}
              All vendors
            {% endif %}
            </h4>
            <div class="pane">   
              <ul class="list">
              	{% for product_vendor in shop.vendors %}
                  <li>
                    {{ product_vendor | link_to_vendor  }}
                  </li>
                {% endfor %}
              	</ul>
            </div>
          {% endif %}
          
          <h4>
          {% if settings.locale == "enabled" %}
            {{ settings.locale_search }}
            {% assign s = settings.locale_search %}
          {% else %}
            Search
            {% assign s = "Search" %}
          {% endif %} 
          </h4>
          <div id="search" class="pane">        
		        <form action="/search" method="get">
			        <input class="text" type="text" name="q" /> 
			        <input class="button" type="submit" value="{{ s }}"  />
		        </form>
          </div>
          
          <h4 class="first">
            {% if settings.locale == "enabled" %}
              {{ settings.locale_share }}
            {% else %}
              Share 
            {% endif %}
          </h4>
          <div id="share" class="pane">
            <div id="icons" class="block">	    
              <div id="item" class="left twitter">
                <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
              <a href="http://twitter.com/share" class="twitter-share-button">Tweet</a>
              </div>
              <div id="item" class="left facebook">
                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like layout="button_count" show_faces="true" width="150"></fb:like>              
              </div>
             </div>
          </div>
        </div>
      </div>      
    </div>	 
     	
  </div>
</div>  



    

