<div id="navigation" class="block">
  <div class="container"> 
    <div id="current-collection" class="left col-1">      
      <h2>
        Search results for: {{ search.terms }}
      </h2>            
    </div>
    
    <div id="taxonomies" class="right col-2">      
      <div class="accordion">        
        {% if collections.size > 0 %}
          <h3 class="first">All collections</h3>
          <div class="pane">        
            <ul class="list">
          	  {% for i in collections %}      	    
          		  <li {% if collection.url == i.url %} class="active"{% endif %}>
          		    <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title | upcase }}</a>
          		  </li>
          		{% endfor %}
          	</ul>
          </div> 
        {% endif %}           
      
        {% if shop.vendors.size > 0 %}
          <h3>All vendors</h3>
          <div class="pane">   
            <ul class="list">
            	{% for product_vendor in shop.vendors %}
                <li>
                  {{ product_vendor | link_to_vendor  }}
                </li>
              {% endfor %}
            	</ul>
          </div>
        {% endif %}
        
        {% if shop.types.size > 0 %}
          <h3>All product types</h3>
          <div class="pane">   
            <ul class="list">
            	{% for product_type in shop.types %}
                <li>
                  {{ product_type | link_to_type  }}
                </li>
              {% endfor %}
            	</ul>
          </div>
        {% endif %}
        
        <h3>Search</h3>
        <div id="search" class="pane">        
		      <form action="/search" method="get">
			      <input class="text" type="text" name="q" /> 
			      <input class="link button greenb rounded" type="submit" value="Go"  />
		      </form>
        </div>
      </div>      
    </div>	  	
  </div>
</div>  
    
    
<div id="items" class="block">
  <div class="container">
    {% paginate search.results by 6 %}
    {% if search.results.size == 0 %}
	    <h3>We did not find any products for you.</h3>
	  {% else %}
	    {% for product in search.results %}
	      <div id="item">
          <div class="image">
            <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
            </a>
          </div>
          <h6 class="title">
            <a href="{{ product.url | within: collections.all }}">{{ product.title }} by {{ product.vendor }}</a>
          </h6>
          <div class="meta">       
            {% if product.compare_at_price_max > product.price %} 
              <span class="price price-sale">{{ product.price | money }}</span>
              &mdash;
              <span class="price price-old">{{ product.compare_at_price_max | money }}</span>
            {% else %}
              <span class="price">{{ product.price | money }}</span>
            {% endif %}
          </div>
		    </div>
	    {% endfor %}
	
	    <div class="clear"></div>
	    
	    {% if paginate.pages > 1 %}
	    <div id="paginate">
		    {{ paginate | default_pagination }}
	    </div>
	    {% endif %}	  
	  {% endif %}
	  {% endpaginate %}
  </div>
</div>
	


