{% paginate search.results by 9 %}
{% if search.results.size == 0 %}
  <div id="article">
    <div id="details" class="col col-1">
      {% if settings.snippets == "enabled" %}
        {% include 'search_not_found' %}        
      {% else %}
        <h1>We did not found any products for you.</h1>
        <div id="summary">
          <p>Please try searching <strong>again</strong>, browse the <strong>menu</strong> or the <strong>sidebar</strong> links.</p> 
        </div>
      {% endif %}
      
      search form here ...
    </div>
    
    <div id="aside" class="col col-2">
    sidebar ...
    </div>
  </div>
  
{% else %}
    
  <div id="section" class="products">
    <h1>
      {% if settings.locale == "enabled" %}
        {% assign s = settings.locale_search_results %}
      {% else %}
        {% assign s = "Search results for" %}
      {% endif %} 
      {{ s }}:
    </h1>
    <div id="articles" class="col col-1">    
      {% for item in search.results %}
        <div id="article" class="thumb">
          <div id="details">
            {% if item.featured_image %} 
              <div id="figure">
                <a href="{{ item.url | within: collections.all }}" title="{{ item.title | escape }}">
                  <img src="{{ item.featured_image | product_img_url: 'medium' }}" alt="{{ item.title | escape }}" /></a>
              </div>
              <div id="figcaption">
                <div id="title">
                  <a href="{{ item.url | within: collections.all }}" title="{{ item.title | escape }}">
                  <h3>{{ item.title | escape }}</h3></a>
                </div>
                <div id="price">
                  {% if settings.locale == "enabled" %}
                    {% assign add = settings.locale_cart_add %}
                  {% else %}
                    {% assign add = "Add to cart" %}
                  {% endif %}
                  <a class="button" href="{{ item.url | within: collections.all }}" title="{{ item.title | escape }}">
                    {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
                </div>
                <div id="summary" class="text">                
                  {{ item.description | truncatewords: 40 }}
                </div>
              </div>
            {% else %}
              <div id="summary" class="text">
                {{ item.content | truncatewords: 20 }}
              </div>
            {% endif %}
          </div> <!-- details -- >
        </div> <!-- article -->
      {% endfor %}
      
      {% if paginate.pages > 1 %}
        <div id="paginate">
          {{ paginate | default_pagination }}
        </div>
      {% endif %}	      
    </div> <!-- articles -->     
    
    <div id="aside" class="col col-2">
    sidebar ...
    </div>            
    
  </div> <!-- section -->  

{% endif %}
{% endpaginate %}

  
