{% paginate search.results by 9 %}
{% if search.results.size == 0 %}
  <div id="article" class="col col-1">
    <div id="details">
      {% if settings.snippets == "enabled" %}
      {% else %}
        <h1>We did not found any products for you.</h1>
        <div id="summary">
          <p>Please try searching <strong>again</strong>, browse the <strong>menu</strong> or the <strong>sidebar</strong> links.</p> 
        </div>
      {% endif %}
      
<h3>
{% if settings.locale == "enabled" %}
  {{ settings.locale_search }}
  {% assign s = settings.locale_search %}
{% else %}
  Search
  {% assign s = "Search" %}
{% endif %} 
</h3>
<ul class="search">        
  <li>
    <form action="/search" method="get">
      <input class="text" type="text" name="q" /> 
      <input class="button" type="submit" value="{{ s }}"  />
    </form>
  </li>
</ul> 
    </div>
  </div>
  
{% else %}
    
  <div id="section" class="products col col-1">
    <div id="details">
      <h1>
        {% if settings.locale == "enabled" %}
          {% assign s = settings.locale_search_results %}
        {% else %}
          {% assign s = "Search results for" %}
        {% endif %} 
        {{ s }}:
      </h1>
      <div id="articles">    
        {% for item in search.results %}
          {% if item.featured_image %} 
            {{ assign product = item }}
<div id="article" class="thumb">
  <div id="details">
    <div id="figcaption">
      <div id="title">
        <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
        <h3>{{ product.title | escape }}</h3></a>
      </div>
      <div id="price">
        {% if settings.locale == "enabled" %}
          {% assign add = settings.locale_cart_add %}
        {% else %}
          {% assign add = "Add to cart" %}
        {% endif %}
        <a class="button" href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
          {{ product.price | money }} &nbsp;&nbsp; {{ add }}</a>
      </div>
    </div>
    <div id="figure">
      <a href="{{ product.url | within: collections.all }}" title="{{ product.title | escape }}">
        <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>                
    </div>
    <div id="summary">                
        {{ product.description | truncatewords: 40 }}
    </div>
  </div> <!-- details -->
</div> <!-- article --> 
          {% else %}
            <div id="article" class="thumb">
              <div id="details">
                <a href="{{ item.url | within: collections.all }}" title="{{ item.title | escape }}">
                    <h3>{{ item.title | escape }}</h3></a>
                <div id="summary" class="text">
                  {{ item.content | truncatewords: 20 }}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        
        {% if paginate.pages > 1 %}
          <div id="paginate">
            {{ paginate | default_pagination }}
          </div>
        {% endif %}	      
      </div> <!-- articles -->     
    </div> <!-- details -->
  </div> <!-- section -->  

{% endif %}
{% endpaginate %}


<div id="aside" class="navigation col col-2">
  <div id="details">
{% if collections.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_allcollections }}
  {% else %}
    All collections
  {% endif %}
  </h3>
  <ul>
	  {% for i in collections %}      	    
		  <li {% if collection.url == i.url %} class="active"{% endif %}>
		    <a href="{{ i.url }}" title="{{ i.title | upcase }}">{{ i.title }}</a>
		  </li>
		{% endfor %}
	</ul>
{% endif %}    
        
{% if shop.types.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_alltypes }}
  {% else %}
    All product types
  {% endif %}          
  </h3>        
  <ul>
  	{% for product_type in shop.types %}
      <li>
        {{ product_type | link_to_type  }}
      </li>
    {% endfor %}
	</ul>      
{% endif %}

{% if shop.vendors.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_allvendors }}
  {% else %}
    All vendors
  {% endif %}
  </h3>
  <ul>
  	{% for product_vendor in shop.vendors %}
      <li {% if collection.url == url_for_vendor %} class="active"{% endif %}>
        {{ product_vendor | link_to_vendor  }}
      </li>
    {% endfor %}
  </ul>      
{% endif %}

{% if collection.all_tags.size > 0 %}
  <h3>
  {% if settings.locale == "enabled" %}
    {{ settings.locale_coll_tags }}
  {% else %}
    Tags
  {% endif %}
   <em>{{ collection.title }}</em>
  </h3>
  <ul class="inline-list">
    {% for tag in collection.all_tags %}
      <li>
        {{ tag | highlight_active_tag | link_to_tag: tag }}
      </li>
    {% endfor %}
  </ul>      
{% endif %} 

<h3>
{% if settings.locale == "enabled" %}
  {{ settings.locale_share }}
{% else %}
  Share 
{% endif %}            
</h3>
<ul>
  <li class="twitter">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="metamn">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>          
  </li>
  <li class="facebook">
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like layout="button_count" show_faces="true" width="150"></fb:like>              
  </li>
</li>    
<h3>
{% if settings.locale == "enabled" %}
  {{ settings.locale_search }}
  {% assign s = settings.locale_search %}
{% else %}
  Search
  {% assign s = "Search" %}
{% endif %} 
</h3>
<ul class="search">        
  <li>
    <form action="/search" method="get">
      <input class="text" type="text" name="q" /> 
      <input class="button" type="submit" value="{{ s }}"  />
    </form>
  </li>
</ul> 
  </div>
</div>

  
